// --------------------------------------------------------------------------
/// 04-base: Forms / Input Checkbox
// --------------------------------------------------------------------------

$checkbox-empty-color: #5a5a5a !default;
$checkbox-fill-color: #006db2 !default;
$input-disabled-color: rgba(0,0,0, .26) !default;
$checkbox-border: 2px solid $checkbox-fill-color !default;
$input-disabled-color: rgba(0,0,0, .26) !default;

.checkbox-group {
    margin-bottom: 1rem;
}

/* Remove default checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  opacity: 0;
}


// Checkbox Styles
.input-checkbox {
    // Text Label Style
    + label {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        font-size: 1rem;
        margin-right: 10px;

        -webkit-user-select: none; /* webkit (safari, chrome) browsers */
        -moz-user-select: none; /* mozilla browsers */
        -khtml-user-select: none; /* webkit (konqueror) browsers */
        -ms-user-select: none; /* IE10+ */


        /* checkbox aspect */
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            z-index: 0;
            border: 2px solid $checkbox-empty-color;
            border-radius: 1px;
            margin-top: 2px;
            transition: .2s;
        }
    }

    &:not(:checked):disabled + label:before {
        border: none;
        background-color: $input-disabled-color;
    }
    &:checked {
        + label:before {
            top: -4px;
            left: -5px;
            width: 12px;
            height: 22px;
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right: $checkbox-border;
            border-bottom: $checkbox-border;
            transform: rotate(40deg);
            backface-visibility: hidden;
            transform-origin: 100% 100%;
        }

        &:disabled + label:before {
            border-right: 2px solid $input-disabled-color;
            border-bottom: 2px solid $input-disabled-color;
        }
    }
}

