// --------------------------------------------------------------------------
/// 04-base: Input Fields
// --------------------------------------------------------------------------
// Text Inputs + Textarea


// Input Group
// --------------------------------------------------------------------------

.form-group {
  margin-bottom: 1rem;
  position: relative;
  padding-top: $input-font-size; //tamanho fonte
}


// Input Default
// --------------------------------------------------------------------------
%form-input {
    background-color: transparent;
    border: none;
    border-bottom: $input-border;
    border-radius: 0;
    outline: none;
    width: 100%;
    font-size: $input-font-size;
    margin: $input-margin;
    box-shadow: none;
    box-sizing: content-box;
    transition: $input-transition;
  &:focus {
    color: $input-focus-color;
    border-bottom: 1px solid #006db2;
    box-shadow: 0 1px 0 0 #006db2;
    &:not([readonly])+label {
      color: $input-focus-color;
    }
  }
}
.form-input {
  @extend %form-input;
  height: $input-height;
  padding: $input-padding;
}


// Textarea Default
// --------------------------------------------------------------------------
.form-input-textarea {
  @extend %form-input;
  overflow-y: hidden; /* prevents scroll bar flash */
  padding: 1rem 0; /* prevents text jump on Enter keypress */
  resize: none;
  min-height: $input-height;
}


// Text Muted
// --------------------------------------------------------------------------

.form-text-muted {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
