// --------------------------------------------------------------------------
/// Input Fields
// --------------------------------------------------------------------------

// Input Group
// --------------------------------------------------------------------------

%form-group {
  margin-bottom: 1rem;
  position: relative;
  margin-top: $input-font-size; //tamanho fonte
}

// Input Default
// --------------------------------------------------------------------------

%form-input-line {
    background-color: transparent;
    border: none;
    border-bottom: $input-border;
    border-radius: 0;
    outline: none;
    width: 100%;
    font-size: $input-font-size;
    margin: $input-margin;
    box-shadow: none;
    box-sizing: content-box;
    transition: $input-transition;

    &:focus {
        color: $input-focus-color;
        border-bottom: 1px solid #006db2;
        box-shadow: 0 1px 0 0 #006db2;

        &:not([readonly])+label {
          color: $input-focus-color;
        }
    }
}

%form-input-block {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    width: 96%;
    padding: 0 2%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    height: 3rem;
    font-size: 1rem;
    margin: 0 0 15px;
    box-sizing: content-box;
    transition: all .3s;

    &:focus {
        color: $input-focus-color;
        border-bottom: 1px solid #006db2;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);

        &:not([readonly])+label {
          color: $input-focus-color;
        }
    }
}

// Textarea Default
// --------------------------------------------------------------------------

%form-input-textarea {
  @extend %form-input-line;
  font-family: $font-family-primary;
  overflow-y: hidden; /* prevents scroll bar flash */
  padding: 1.6rem 2%; /* prevents text jump on Enter keypress */
  resize: none;
  min-height: $input-height;
}
