// --------------------------------------------------------------------------
/// 04-base: Forms / Input Radio
// --------------------------------------------------------------------------

.radio-group {
   margin-bottom: 1rem;
}
.input-radio {
    &:not(:checked),
    &:checked {
        position: absolute;
        left: -9999px;
        opacity: 0;
    &+label{
            position: relative;
            padding-left: 35px;
            cursor: pointer;
            display: inline-block;
            height: 25px;
            line-height: 25px;
            font-size: 1rem;
            transition: .28s ease;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            margin-right: 10px;
            &:before,
            &:after {
                border-radius: 50%;
            }
        }
    }
    &+label:before,
    &+label:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px;
        width: 16px;
        height: 16px;
        z-index: 0;
        transition: .28s ease;
    }
    &:not(:checked) {
        &+label {
            &:before,
            &:after {
                border: 2px solid #5a5a5a;
            }
            &:after {
                z-index: -1;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
        }
    }
    &:checked {
        &+label {
            &:before {
                border: 2px solid transparent;
            }
            &:after {
                border: 2px solid #006db2;
                background-color: #006db2;
                z-index: 0;
                -webkit-transform: scale(1.02);
                transform: scale(1.02);
            }
        }
    }
    &:disabled {
        &:not(:checked) {
            &+label {
                &:before{
                  background-color: transparent;
                  border-color: rgba(0,0,0,0.26);
                }
            }
        }
        &:checked {
            &+label {
                &:before{
                    background-color: transparent;
                    border-color: rgba(0,0,0,0.26);
                }
                &:after {
                    background-color: rgba(0,0,0,0.26);
                    border-color: #BDBDBD;
                }
            }
        }
        &+label {
          color: rgba(0,0,0,0.26);
        }
    }
}
