- var atoms = public.docs.atoms._contents

main.mad-content
    section
        h2.mad-content-heading Átomos
        each value, key in atoms
            - var atom = value.split('.')[0]
            section.mad-atom(id='#{atom}')
                !=partial("docs/atoms/"+value)

