- var atoms = public.docs.atoms._contents

aside.mad-sidebar
    nav
        p.list-sidebar__title Ãtomos
        ul.list-sidebar
            each value, key in atoms
                - var atom = value.split('.')[0]
                li.list-sidebar__item
                    a.list-sidebar__link(href="##{atom}")=atom

