// --------------------------------------------------------------------------
// Components: Card Category
// --------------------------------------------------------------------------

// Variables
// --------------------------------------------------------------------------



%card-category-font {
  @extend %base-text-3;
}
%card-category {
  padding: 2px 7px;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: top;
}

%card-category-triangle {
  margin-bottom: 5px;
  text-decoration: none;
  &::before,
  &::after {
    content: "";
    border-style: solid;
    display: inline-block;
    top: 0;
    height: 0;
    width: 0;
    position: relative;
  }
  &::before {
    border-width: 0 0 22px 16px;
    left: 5px;
  }
  &::after {
    content: "";
    border-width: 0 0 22px 16px;
    right: 5px;
  }
}



// Classes Base: Card Category
// --------------------------------------------------------------------------
.category {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.category__item {
  display: inline-block;
  width: 100%;
}
.category__link {
  @extend %card-category-triangle;
}
.category__link__text {
  @extend %card-category;
  @extend %card-category-font;
}


// Mixin: Card Category - Color and Background color
// --------------------------------------------------------------------------

@each $category-name, $category-color in $category-colors {
  .category{
    .category__link--#{$category-name}   {
      &::before {
        border-color: map-get($category-color, background-color) transparent;
      }
      &::after {
        border-color: transparent map-get($category-color, background-color);
      }
    }
    .category__link__text {
      background-color: map-get($category-color, background-color);
      color: map-get($category-color, color);
    }
  }
}
