h3.mad-content-title Card Category

ul.category
  li.category__item
    a.category__link.category__link--one(href='#')
      span.category__link__text #Imposto de renda
  li.category__item
    a.category__link.category__link--one(href='#')
      span.category__link__text #Imposto de renda

br
br
p  Como usar:
p  1 - Insira o nome da classe no arquivo de vari치veis.
p  Ao colocar o nome da classe "one" o retorno do c칩digo ser치: (category__link--one)

:markdown
  ```
    $category-colors: (
    one:  (background-color: #066db2, color: #fff),
    );
  ```
br
p.
  C칩digo HTML
br
:markdown
  ```
    <ul class="category">
      <li class="category__item">
        <a class="category__link category__link--one" href="http://lorempixel.com/333/220/">
          <span class="category__link__text">#imposto de renda</span>
        </a>
         </li>
         <li class="category__item">
        <a class="category__link category__link--one" href="http://lorempixel.com/333/220/">
          <span class="category__link__text">#imposto de renda</span>
        </a>
      </li>
    </ul>
  ```


