// --------------------------------------------------------------------------
// General: Fonts
// --------------------------------------------------------------------------


$path-titillium     :  'titillium';

$path-fontawesome   :  'awesome';
$version-fontawesome:'4.1.0';

$path-fontmagicons       : 'magicons';
$version-fontmagicons:'86wjta';

@font-face {
    font-family: 'magicons';
    src:    url($path-fontmagicons+'/magicons.eot?'+$version-fontmagicons);
    src:    url($path-fontmagicons+'/magicons.eot?'+$version-fontmagicons+'#iefix') format('embedded-opentype'),
        url($path-fontmagicons+'/magicons.ttf?'+$version-fontmagicons) format('truetype'),
        url($path-fontmagicons+'/magicons.woff?'+$version-fontmagicons) format('woff'),
        url($path-fontmagicons+'/magicons.svg?'+$version-fontmagicons+'#magicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'FontAwesome';
    src:url($path-fontawesome+'/fontawesome-webfont.eot?v='+$version-fontawesome);
    src:url($path-fontawesome+'/fontawesome-webfont.eot?#iefix&v='+$version-fontawesome) format('embedded-opentype'),
        url($path-fontawesome+'/fontawesome-webfont.woff?v='+$version-fontawesome) format('woff'),
        url($path-fontawesome+'/fontawesome-webfont.ttf?v='+$version-fontawesome) format('truetype'),
        url($path-fontawesome+'/fontawesome-webfont.svg?v='+$version-fontawesome+'#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal;
    font-variant:normal;
    -webkit-font-smoothing:antialiased;
}

@font-face {
    font-family: 'titilliumregular';
    src: url($path-titillium+'/titillium-regular-webfont.eot');
    src: url($path-titillium+'/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url($path-titillium+'/titillium-regular-webfont.woff2') format('woff2'),
         url($path-titillium+'/titillium-regular-webfont.woff') format('woff'),
         url($path-titillium+'/titillium-regular-webfont.ttf') format('truetype'),
         url($path-titillium+'/titillium-regular-webfont.svg#titilliumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'titilliumbold';
    src: url($path-titillium+'/titillium-semibold-webfont.eot');
    src: url($path-titillium+'/titillium-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url($path-titillium+'/titillium-semibold-webfont.woff2') format('woff2'),
         url($path-titillium+'/titillium-semibold-webfont.woff') format('woff'),
         url($path-titillium+'/titillium-semibold-webfont.ttf') format('truetype'),
         url($path-titillium+'/titillium-semibold-webfont.svg#titilliumbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
    @font-face {
        font-family: 'titilliumregular';
        src: url($path-titillium+'/titillium-regular-webfont.svg#titilliumregular') format('svg');
        font-weight:400;
    }

    @font-face {
        font-family: 'titilliumbold';
        src: url($path-titillium+'/titillium-semibold-webfont.svg#titilliumbold') format('svg');
        font-weight:700;
    }

    @font-face {
        font-family: 'FontAwesome';
            src: url($path-fontawesome+'/fontawesome-webfont.svg?v='+$version-fontawesome+'#fontawesomeregular') format('svg');
    }

    @font-face {
        font-family: 'MagIcons';
            src: url($path-fontmagicons+'/magicons.svg?'+$version-fontmagicons+'#magicons') format('svg');
    }
}
