// --------------------------------------------------------------------------
// Variables: Fonts
// --------------------------------------------------------------------------
// Website Upload new icon: https://icomoon.io/app/#/select
// Json file path         : C:\wamp\www\mad-style\source\style\04-base\fonts\magicons\selection

$path-titillium     :  'titillium';

$path-fontawesome   :  'awesome';
$version-fontawesome:'4.1.0';

$path-fontmagicons       : '../../fonts/magicons';
$version-fontmagicons:'86wjta';
