// --------------------------------------------------------------------------
// Components: Card Overlay
// --------------------------------------------------------------------------



// Base Elements: Card Overlay
//
// {.card-overlay}
// --------------------------------------------------------------------------
.card-overlay {
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: .75rem;
  a {
    display: inherit;
    text-decoration: none;
    overflow: hidden;
  }
  .card-overlay__link {
    &:hover {
      background-color: #ddd;
    }
    &:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    img {
      width: 100%;
      display: block;
      height: auto;
      vertical-align: middle;
      transition: -webkit-transform 350ms;
      transition: transform 350ms;
    }
  }
}


// Description
// --------------------------------------------------------------------------
.card-overlay__desc {
  position: absolute;
  bottom: 0;
  top: inherit;
  right: 0;
  left: 0;
  padding: 0.8rem;
  z-index: 1;
  &>div {
    position: absolute;
    bottom: 10px;
  }
}

// Title
// --------------------------------------------------------------------------
.card-overlay__desc__title {
  color: $card-overlay-desc-title--color;
  font-size:   $headings-h2-font-size;
  line-height: $headings-h4-line-height;
  font-family: $headings-font-family;
  text-shadow: 2px 1px 2px #000;
}



// Link
// --------------------------------------------------------------------------
.card-overlay__link {
  &:hover {
    .card-overlay__bg {
      background-image: linear-gradient(to right top,rgba(0,0,0,.7)0,rgba(0,0,0,.7)15%,rgba(0,0,0,.1)55%,transparent 75%,transparent 100%);
    }
  }
}


// Overlay Card
// --------------------------------------------------------------------------
.card-overlay__bg {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-size: 100%;
  opacity: .9;
  &:after {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    background-size: 100%;
    background-image: linear-gradient(to right top,rgba(0,0,0,.7)0,rgba(0,0,0,.7)15%,rgba(0,0,0,.1)55%,transparent 75%,transparent 100%);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
  }
}
