article.card-overlay
   <a href="/quem-deve-declarar-imposto-de-renda" class="card-overlay__link">
    <span class="card-overlay__bg"></span>
    <img itemprop="image" src="https://madstyle.mongeralaegon.com.br/assets/app/css/img/site/page/guia/quem-precisa-declarar-imposto-de-renda.jpg">
  </a>
  <div class="card-overlay__desc">
      <a href="/quem-deve-declarar-imposto-de-renda">
          <h4 class="card-overlay__desc__title"></h4>
       </a>
  </div>
</article>
