// --------------------------------------------------------------------------
// Placeholder: Link
// --------------------------------------------------------------------------

// Link
// --------------------------------------------------------------------------

%link-hover {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

%link-color {
	color: $link-color;
}

%link-default {
	@extend %link-color;
	@extend %link-hover;
   //para evitar conflito nos outros projetos
  text-transform: inherit;
}

