// --------------------------------------------------------------------------
// Placeholder: Link
// --------------------------------------------------------------------------

// Link Theme Variables
// --------------------------------------------------------------------------

$link-color: #006db6; 

// Link
// --------------------------------------------------------------------------

%link {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

%link-text-default {
	@extend %link;
}

%link-default {
	@extend %link;

	// Typography
	font-family: $base-font-family-new;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	
	text-transform: uppercase;

	// Theme
	color: $link-color;
}
