// --------------------------------------------------------------------------
// Placeholder: Link
// --------------------------------------------------------------------------

// Link Theme Variables
// --------------------------------------------------------------------------

$link-color: #006db6;

// Link
// --------------------------------------------------------------------------

%link-hover {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
%link-color {
	color: $link-color;
}

%link-default {
	@extend %link-color;
	@extend %link-hover;
}

