// --------------------------------------------------------------------------
/// Typography
// --------------------------------------------------------------------------

@import "_variables";

// Typography - Headings
// --------------------------------------------------------------------------
@mixin headings-1($font-family: $headings-font-family, $color: $headings-font-color) {
  font-weight: $headings-font-weight;
  margin-bottom: $headings-margin-bottom;
  font-size:   $headings-h1-font-size;
  line-height: $headings-h1-line-height;
  font-family: $font-family;
  color: $color;
}

@mixin headings-2($font-family: $headings-font-family, $color: $headings-font-color) {
  font-weight: $headings-font-weight;
  margin-bottom: $headings-margin-bottom;
  font-size:   $headings-h2-font-size;
  line-height: $headings-h2-line-height;
  font-family: $font-family;
  color: $color;
}

@mixin headings-3($font-family: $headings-font-family, $color: $headings-font-color) {
  font-weight: $headings-font-weight;
  margin-bottom: $headings-margin-bottom;
  font-size:   $headings-h3-font-size;
  line-height: $headings-h3-line-height;
  font-family: $font-family;
  color: $color;
}

@mixin headings-4($font-family: $headings-font-family, $color: $headings-font-color) {
  font-weight: $headings-font-weight;
  margin-bottom: $headings-margin-bottom;
  font-size:   $headings-h4-font-size;
  line-height: $headings-h4-line-height;
  font-family: $font-family;
  color: $color;
}

@mixin headings-5($font-family: $headings-font-family, $color: $headings-font-color) {
  font-weight: $headings-font-weight;
  margin-bottom: $headings-margin-bottom;
  font-size:   $headings-h5-font-size;
  line-height: $headings-h5-line-height;
  font-family: $font-family;
  color: $color;
}

@mixin headings-6($font-family: $headings-font-family, $color: $headings-font-color) {
  font-weight: $headings-font-weight;
  margin-bottom: $headings-margin-bottom;
  font-size:   $headings-h6-font-size;
  line-height: $headings-h6-line-height;
  font-family: $font-family;
  color: $color;
}

// Typography - Base Text
// --------------------------------------------------------------------------
@mixin base-text-1($font-family: $base-font-family, $color: $base-text-color) {
  font-weight: $base-font-weight;
  font-size:   $base-text-1-font-size;
  line-height: $base-text-1-line-height;
  font-family: $font-family;
  color: $color;
}

@mixin base-text-2($font-family: $base-font-family, $color: $base-text-color) {
  font-weight: $base-font-weight;
  font-size:   $base-text-2-font-size;
  line-height: $base-text-2-line-height;
  font-family: $font-family;
  color: $color;
}

@mixin base-text-3($font-family: $base-font-family, $color: $base-text-color) {
  font-weight: $base-font-weight;
  font-size:   $base-text-3-font-size;
  line-height: $base-text-3-line-height;
  font-family: $font-family;
  color: $color;
}

@mixin base-text-4($font-family: $base-font-family, $color: $base-text-color) {
  font-weight: $base-font-weight;
  font-size:   $base-text-4-font-size;
  line-height: $base-text-4-line-height;
  font-family: $font-family;
  color: $color;
}

@mixin base-text-5($font-family: $base-font-family, $color: $base-text-color) {
  font-weight: $base-font-weight;
  font-size:   $base-text-5-font-size;
  line-height: $base-text-5-line-height;
  font-family: $font-family;
  color: $color;
}

// Link
// --------------------------------------------------------------------------
@mixin link($color: $link-color, $color-hover: null) {
  text-decoration: none;
  //para evitar conflito nos outros projetos
  text-transform: inherit;
  color: $color;

  &:hover {
    text-decoration: underline;
  }

  @if $color-hover {
    &:hover {
      color: $color-hover;
    }  
  }
}
