h3.mad-content-title Typography

  h3.mad-content-sub-title Typography - Headings Theme

  h1.headings-1 Mag Style title 1
  h1.headings-2 Mag Style title 2
  h1.headings-3 Mag Style title 3
  h1.headings-4 Mag Style title 4
  h1.headings-5 Mag Style title 5
  h1.headings-6 Mag Style title 6

  h3.mad-content-sub-title Typography - Base Text Theme

  p.base-text-0  Mag Style text 0
  p.base-text-1  Mag Style text 1
  p.base-text-2  Mag Style text 2
  p.base-text-3  Mag Style text 3
  p.base-text-4  Mag Style text 4
