// --------------------------------------------------------------------------
/// 04-base: Forms
// --------------------------------------------------------------------------

::-webkit-input-placeholder {
    color: #d1d1d1
}
:-moz-placeholder {
    color: #d1d1d1
}
::-moz-placeholder {
    color: #d1d1d1
}
:-ms-input-placeholder {
    color: #d1d1d1
}

.form {
  margin-top: 50px;
}

@import 'forms-types/label';
@import 'forms-types/input-fields';
@import 'forms-types/radio-buttons';
@import 'forms-types/checkboxes';
//@import 'forms-types/select';
@import 'forms-types/file-input';
