h3.mad-content-title Buttons

h3.mad-content-sub-title Buttons Actions
table
  tr
    td
      button.btn-call-to-action(type='button') btn-call-to-action
  tr
    td
      button.btn-simulation(type='button') btn-simulation
  tr
    td
      button.btn-buy(type='button') btn-buy
  tr
    td
      button.btn-call-to-action-two(type='button') btn-call-to-action-two
  tr
    td
      button.btn-send(type='button') btn-send
  tr
    td
      button.btn-save(type='button') btn-save
  tr
    td
      button.btn-submit(type='button') btn-submit
  tr
    td
      button.btn-cancel(type='button') btn-cancel
  tr
    td
      button.button--isi(type='button') btn-return
    td
:markdown
  ```
    <button type="button" class="btn-call-to-action">btn-call-to-action</button>
    <a class="btn-call-to-action">btn-call-to-action</a>
    <input type="button" value="btn-return" class="btn-return">
  ```


h3.mad-content-sub-title Btn Secundário
table
  tr
    td
      button.btn-secundary-one(type='button') btn-secundary-one
  tr
    td
      button.btn-secundary-two(type='button') btn-secundary-two
:markdown
  ```
    <button type="button" class="btn-secundary-one">btn-secundary-one</button>
     <a class="btn-secundary-two">btn-secundary-two</a>
     <input type="button" value="btn-call-to-action" class="btn-call-to-action">
  ```





