h3.mad-content-title Colors

table.table
  thead
    tr
      th(colspan='2') COLORS
  tbody
    tr
      th(colspan='2', scope='row') COLOR PRIMARY
    tr.primary
      th(scope='row') .primary
      td background-color: core-color('primary');
    tr.aw90
      th(scope='row') .aw90
      td background-color: core-color('primary','aw90');
    tr.aw60
      th(scope='row') .aw60
      td background-color: core-color('primary','aw60');
    tr.aw40
      th(scope='row') .aw40
      td background-color: core-color('primary','aw40');
    tr.aw20
      th(scope='row') .aw20
      td background-color: core-color('primary','aw20');
    tr.aw10
      th(scope='row') .aw10
      td background-color: core-color('primary','aw10');
    tr.ab5
      th(scope='row') .ab10
      td background-color: core-color('primary','ab5');
    tr.ab10
      th(scope='row') .ab10
      td background-color: core-color('primary','ab10');
    tr.ab20
      th(scope='row') .ab20
      td background-color: core-color('primary','ab20');
    tr.ab40
      th(scope='row') .ab40
      td background-color: core-color('primary','ab40');
    tr.ab60
      th(scope='row') .ab60
      td background-color: core-color('primary','ab60');
    tr
      th(colspan='2', scope='row') blue
    tr.aux-one
      th(scope='row') .aux-one
      td background-color: core-color('aux-one');
    tr.aux-one-10
      th(scope='row') .aux-one-10
      td background-color: core-color('aux-one', 'aux-10');
    tr.aux-one-20
      th(scope='row') .aux-one-20
      td background-color: core-color('aux-one', 'aux-20');
    tr.aux-one-30
      th(scope='row') .aux-one-30
      td background-color: core-color('aux-one', 'aux-30');
    tr.aux-one-40
      th(scope='row') .aux-one-40
      td background-color: core-color('aux-one', 'aux-40');
    tr.aux-one-50
      th(scope='row') .aux-one-50
      td background-color: core-color('aux-one', 'aux-50');
    tr.aux-one-60
      th(scope='row') .aux-one-60
      td background-color: core-color('aux-one', 'aux-60');
    tr.aux-one-70
      th(scope='row') .aux-one-70
      td background-color: core-color('aux-one', 'aux-70');
    tr.aux-one-b5
      th(scope='row') .aux-one-b5
      td background-color: core-color('aux-one', 'aux-b5');
    tr.aux-one-b10
      th(scope='row') .aux-one-b10
      td background-color: core-color('aux-one', 'aux-b10');
    tr.aux-one-b20
      th(scope='row') .aux-one-b20
      td background-color: core-color('aux-one', 'aux-b20');
    tr.aux-one-b40
      th(scope='row') .aux-one-b40
      td background-color: core-color('aux-one', 'aux-b40');
    tr.aux-one-b60
      th(scope='row') .aux-one-b60
      td background-color: core-color('aux-one', 'aux-b60');
    tr
      th(colspan='2', scope='row') red
    tr.aux-two
      th(scope='row') .aux-two #f44336;
      td background-color: core-color('aux-two');
    tr.aux-two-10
      th(scope='row') .aux-two-10 #ffcdd2
      td background-color: core-color('aux-two', 'aux-10');
    tr.aux-two-20
      th(scope='row') .aux-two-20 #e57373
      td background-color: core-color('aux-two', 'aux-20');
    tr.aux-two-30
      th(scope='row') .aux-two-30 #f44336
      td background-color: core-color('aux-two', 'aux-30');
    tr.aux-two-40
      th(scope='row') .aux-two-40 #d32f2f
      td background-color: core-color('aux-two', 'aux-40');
    tr.aux-two-50
      th(scope='row') .aux-two-50 #b71c1c
      td background-color: core-color('aux-two', 'aux-50');
    tr.aux-two-b5
      th(scope='row') .aux-two-b5
      td background-color: core-color('aux-two', 'aux-b5');
    tr.aux-two-b10
      th(scope='row') .aux-two-b10
      td background-color: core-color('aux-two', 'aux-b10');
    tr.aux-two-b20
      th(scope='row') .aux-two-b20
      td background-color: core-color('aux-two', 'aux-b20');
    tr.aux-two-b40
      th(scope='row') .aux-two-b40
      td background-color: core-color('aux-two', 'aux-b40');
    tr.aux-two-b60
      th(scope='row') .aux-two-b60
      td background-color: core-color('aux-two', 'aux-b60');
    tr
      th(colspan='2', scope='row') orange
    tr.aux-three
      th(scope='row') .aux-three
      td background-color: core-color('aux-three');
    tr.aux-three-10
      th(scope='row') .aux-three-10
      td background-color: core-color('aux-three', 'aux-10');
    tr.aux-three-20
      th(scope='row') .aux-three-20
      td background-color: core-color('aux-three', 'aux-20');
    tr.aux-three-30
      th(scope='row') .aux-three-30
      td background-color: core-color('aux-three', 'aux-30');
    tr.aux-three-40
      th(scope='row') .aux-three-40
      td background-color: core-color('aux-three', 'aux-40');
    tr.aux-three-50
      th(scope='row') .aux-three-50
      td background-color: core-color('aux-three', 'aux-50');
    tr.aux-three-b5
      th(scope='row') .aux-three-b5
      td background-color: core-color('aux-three', 'aux-b5');
    tr.aux-three-b10
      th(scope='row') .aux-three-b10
      td background-color: core-color('aux-three', 'aux-b10');
    tr.aux-three-b20
      th(scope='row') .aux-three-b20
      td background-color: core-color('aux-three', 'aux-b20');
    tr.aux-three-b40
      th(scope='row') .aux-three-b40
      td background-color: core-color('aux-three', 'aux-b40');
    tr.aux-three-b60
      th(scope='row') .aux-three-b60
      td background-color: core-color('aux-three', 'aux-b60');
    tr
      th(colspan='2', scope='row') green
    tr.aux-four
      th(scope='row') .aux-four
      td background-color: core-color('aux-four');
    tr.aux-four-10
      th(scope='row') .aux-four-10
      td background-color: core-color('aux-four', 'aux-10');
    tr.aux-four-20
      th(scope='row') .aux-four-20
      td background-color: core-color('aux-four', 'aux-20');
    tr.aux-four-30
      th(scope='row') .aux-four-30
      td background-color: core-color('aux-four', 'aux-30');
    tr.aux-four-40
      th(scope='row') .aux-four-40
      td background-color: core-color('aux-four', 'aux-40');
    tr.aux-four-50
      th(scope='row') .aux-four-50
      td background-color: core-color('aux-four', 'aux-50');
    tr.aux-four-b5
      th(scope='row') .aux-four-b5
      td background-color: core-color('aux-four', 'aux-b5');
    tr.aux-four-b10
      th(scope='row') .aux-four-b10
      td background-color: core-color('aux-four', 'aux-b10');
    tr.aux-four-b20
      th(scope='row') .aux-four-b20
      td background-color: core-color('aux-four', 'aux-b20');
    tr.aux-four-b40
      th(scope='row') .aux-four-b40
      td background-color: core-color('aux-four', 'aux-b40');
    tr.aux-four-b60
      th(scope='row') .aux-four-b60
      td background-color: core-color('aux-four', 'aux-b60');
    tr
      th(colspan='2', scope='row') gray
    tr.aux-five
      th(scope='row') .aux-five
      td background-color: core-color('aux-five');
    tr.aux-five-10
      th(scope='row') .aux-five-10
      td background-color: core-color('aux-five', 'aux-10');
    tr.aux-five-20
      th(scope='row') .aux-five-20
      td background-color: core-color('aux-five', 'aux-20');
    tr.aux-five-30
      th(scope='row') .aux-five-30
      td background-color: core-color('aux-five', 'aux-30');
    tr.aux-five-40
      th(scope='row') .aux-five-40
      td background-color: core-color('aux-five', 'aux-40');
    tr.aux-five-50
      th(scope='row') .aux-five-50
      td background-color: core-color('aux-five', 'aux-50');
    tr.aux-five-b5
      th(scope='row') .aux-five-b5
      td background-color: core-color('aux-five', 'aux-b5');
    tr.aux-five-b10
      th(scope='row') .aux-five-b10
      td background-color: core-color('aux-five', 'aux-b10');
    tr.aux-five-b20
      th(scope='row') .aux-five-b20
      td background-color: core-color('aux-five', 'aux-b20');
    tr.aux-five-b40
      th(scope='row') .aux-five-b40
      td background-color: core-color('aux-five', 'aux-b40');
    tr.aux-five-b60
      th(scope='row') .aux-five-b60
      td background-color: core-color('aux-five', 'aux-b60');
    tr
      th(colspan='2', scope='row') gray light
    tr.aux-six
      th(scope='row') .aux-six
      td background-color: core-color('aux-six');
    tr.aux-six-10
      th(scope='row') .aux-six-10
      td background-color: core-color('aux-six', 'aux-10');
    tr.aux-six-20
      th(scope='row') .aux-six-20
      td background-color: core-color('aux-six', 'aux-20');
    tr.aux-six-30
      th(scope='row') .aux-six-30
      td background-color: core-color('aux-six', 'aux-30');
    tr.aux-six-40
      th(scope='row') .aux-six-40
      td background-color: core-color('aux-six', 'aux-40');
    tr.aux-six-50
      th(scope='row') .aux-six-50
      td background-color: core-color('aux-six', 'aux-50');
    tr.aux-six-b5
      th(scope='row') .aux-six-b5
      td background-color: core-color('aux-six', 'aux-b5');
    tr.aux-six-b10
      th(scope='row') .aux-six-b10
      td background-color: core-color('aux-six', 'aux-b10');
    tr.aux-six-b20
      th(scope='row') .aux-six-b20
      td background-color: core-color('aux-six', 'aux-b20');
    tr.aux-six-b40
      th(scope='row') .aux-six-b40
      td background-color: core-color('aux-six', 'aux-b40');
    tr.aux-six-b60
      th(scope='row') .aux-six-b60
      td background-color: core-color('aux-six', 'aux-b60');
    tr
      th(colspan='2', scope='row') gray white light
    tr.aux-seven
      th(scope='row') .aux-seven
      td background-color: core-color('aux-seven');
    tr.aux-seven-10
      th(scope='row') .aux-seven-10
      td background-color: core-color('aux-seven', 'aux-10');
    tr.aux-seven-20
      th(scope='row') .aux-seven-20
      td background-color: core-color('aux-seven', 'aux-20');
    tr.aux-seven-30
      th(scope='row') .aux-seven-30
      td background-color: core-color('aux-seven', 'aux-30');
    tr.aux-seven-40
      th(scope='row') .aux-seven-40
      td background-color: core-color('aux-seven', 'aux-40');
    tr.aux-seven-50
      th(scope='row') .aux-seven-50
      td background-color: core-color('aux-seven', 'aux-50');
    tr.aux-seven-b5
      th(scope='row') .aux-seven-b5
      td background-color: core-color('aux-seven', 'aux-b5');
    tr.aux-seven-b10
      th(scope='row') .aux-seven-b10
      td background-color: core-color('aux-seven', 'aux-b10');
    tr.aux-seven-b20
      th(scope='row') .aux-seven-b20
      td background-color: core-color('aux-seven', 'aux-b20');
    tr.aux-seven-b40
      th(scope='row') .aux-seven-b40
      td background-color: core-color('aux-seven', 'aux-b40');
    tr.aux-seven-b60
      th(scope='row') .aux-seven-b60
      td background-color: core-color('aux-seven', 'aux-b60');
    tr
      th(colspan='2', scope='row') White
    tr.color-text-primary
      th(scope='row') .color-text-primary
      td background-color: core-color('color-text-primary');
    tr.color-text-primary-10
      th(scope='row') .color-text-primary-10
      td background-color: core-color('color-text-primary', 'aux-10');
    tr.color-text-primary-20
      th(scope='row') .color-text-primary-20
      td background-color: core-color('color-text-primary', 'aux-20');
    tr.color-text-primary-30
      th(scope='row') .color-text-primary-30
      td background-color: core-color('color-text-primary', 'aux-30');
    tr.color-text-primary-40
      th(scope='row') .color-text-primary-40
      td background-color: core-color('color-text-primary', 'aux-40');
    tr.color-text-primary-50
      th(scope='row') .color-text-primary-50
      td background-color: core-color('color-text-primary', 'aux-50');
    tr.color-text-primary-b5
      th(scope='row') .color-text-primary-b5
      td background-color: core-color('color-text-primary', 'aux-b5');
    tr.color-text-primary-b10
      th(scope='row') .color-text-primary-b10
      td background-color: core-color('color-text-primary', 'aux-b10');
    tr.color-text-primary-b20
      th(scope='row') .color-text-primary-b20
      td background-color: core-color('color-text-primary', 'aux-b20');
    tr.color-text-primary-b40
      th(scope='row') .color-text-primary-b40
      td background-color: core-color('color-text-primary', 'aux-b40');
    tr.color-text-primary-b60
      th(scope='row') .color-text-primary-b60
      td background-color: core-color('color-text-primary', 'aux-b60');
    tr
      th(colspan='2', scope='row') Black
    tr.color-text-secundary
      th(scope='row') .color-text-secundary
      td background-color: core-color('color-text-secundary');
    tr.color-text-secundary-10
      th(scope='row') .color-text-secundary-10
      td background-color: core-color('color-text-secundary', 'aux-10');
    tr.color-text-secundary-20
      th(scope='row') .color-text-secundary-20
      td background-color: core-color('color-text-secundary', 'aux-20');
    tr.color-text-secundary-30
      th(scope='row') .color-text-secundary-30
      td background-color: core-color('color-text-secundary', 'aux-30');
    tr.color-text-secundary-40
      th(scope='row') .color-text-secundary-40
      td background-color: core-color('color-text-secundary', 'aux-40');
    tr.color-text-secundary-50
      th(scope='row') .color-text-secundary-50
      td background-color: core-color('color-text-secundary', 'aux-50');
    tr.color-text-secundary-b5
      th(scope='row') .color-text-secundary-b5
      td background-color: core-color('color-text-secundary', 'aux-b5');
    tr.color-text-secundary-b10
      th(scope='row') .color-text-secundary-b10
      td background-color: core-color('color-text-secundary', 'aux-b10');
    tr.color-text-secundary-b20
      th(scope='row') .color-text-secundary-b20
      td background-color: core-color('color-text-secundary', 'aux-b20');
    tr.color-text-secundary-b40
      th(scope='row') .color-text-secundary-b40
      td background-color: core-color('color-text-secundary', 'aux-b40');
    tr.color-text-secundary-b60
      th(scope='row') .color-text-secundary-b60
      td background-color: core-color('color-text-secundary', 'aux-b60');

