h3.mad-content-title Fonts

h1.font-titillium-title--light Titilium Light
h1.font-titillium-title--regular Titilium Regular
h1.font-titillium-title--semibold Titilium SemiBold
h1.font-titillium-title--bold Titilium Bold

h1.font-opensans-title--light Open Sans Light
h1.font-opensans-title--regular Open Sans Regular
h1.font-opensans-title--semibold Open Sans SemiBold
h1.font-opensans-title--bold Open Sans Bold