h3.mad-content-title Forms

h3.mad-content-sub-title Input Text
.input-field
	input(type="text" id="email")
	label(for="email") Email

h3.mad-content-sub-title Input TextBlock
.input-field
	input.form-input-block(type="text" id="email2" placeholder="Enter email")
	label.form-label(for="email2") Email

:markdown
	```
		<div class="form-group">
			<input type="text" class="form-input" id="email" placeholder="Enter email">
			<label class="form-label" for="email">Email</label>
			<small class="form-text-muted">Descrição</small>
		</div>
	```

h3.mad-content-sub-title Input Textarea
.input-field
	textarea.materialize-textarea(id="exampleTextarea" placeholder="Example textarea" autocomplete="off")
	label(for="exampleTextarea") Example textarea

:markdown
	```
		<div class="form-group">
			<textarea class="form-input-textarea" id="exampleTextarea" rows="3"></textarea>
			<label class="form-label" for="exampleTextarea">Example textarea</label>
		</div>
	```

h3.mad-content-sub-title Input Checkbox
.checkbox-group
	input.input-checkbox(type="checkbox" id="checkbox1" name="group-1")
	label.form-label(for="checkbox1") checkbox 1

.checkbox-group
	input.input-checkbox(type="checkbox" id="checkbox2" name="group-1")
	label.form-label(for="checkbox2") checkbox 2

.checkbox-group
	input.input-checkbox(type="checkbox" id="checkbox3" name="group-1" checked="checked")
	label.form-label(for="checkbox3") checkbox checked 3

:markdown
	```
		<div class="checkbox-group">
			<input class="input-checkbox" name="group-1" type="checkbox" id="checkbox1" />
			<label for="checkbox1">checkbox 1</label>
		</div>
		<div class="checkbox-group">
			<input class="input-checkbox" name="group-1" type="checkbox" checked="checked" id="checkbox2" />
			<label for="checkbox2">checkbox 2</label>
		</div>
		<div class="checkbox-group">
			<input class="input-checkbox" name="group-1" type="checkbox" checked="checked" id="checkbox3" />
			<label for="checkbox3">checkbox 3</label>
		</div>
	```

h3.mad-content-sub-title Input Checkbox Inline
.checkbox-group
	input.input-checkbox(type="checkbox" id="checkbox11" name="group-2")
	label.form-label(for="checkbox11") checkbox 1

	input.input-checkbox(type="checkbox" id="checkbox22" name="group-2")
	label.form-label(for="checkbox22") checkbox 2

	input.input-checkbox(type="checkbox" id="checkbox33" name="group-2" checked="checked")
	label.form-label(for="checkbox33") checkbox checked 3

:markdown
	```
		<div class="checkbox-group">
			<input class="input-checkbox" name="group-2" type="checkbox" id="checkbox11" />
			<label for="checkbox11">checkbox 1</label>

			<input class="input-checkbox" name="group-2" type="checkbox" checked="checked" id="checkbox22" />
			<label for="checkbox22">checkbox 2</label>

			<input class="input-checkbox" name="group-2" type="checkbox" checked="checked" id="checkbox33" />
			<label for="checkbox33">checkbox 3</label>
		</div>
	```

h3.mad-content-sub-title Input Radio
.radio-group(data-js-module="toggle-field")
	input.input-radio.with-gap(type="radio" value="1" id="radio1" name="group-1" data-parent-name="teste")
	label.form-label(for="radio1") sim

	input.input-radio.with-gap(type="radio" value="0" id="radio2" name="group-1")
	label.form-label(for="radio2") não

	.input-group(data-name="teste")
		.input-field
			input(placeholder="Digite aqui" type="text" id="example" name="example")
			label(for="example") Example
:markdown
	```
		<div class="radio-group" data-js-module="toggle-input-yes-or-no" data-js-target="teste">
			<input class="input-radio" name="group1" value="1" type="radio" id="radio1" />
			<label for="radio1">sim</label>

			<input class="input-radio" name="group1" value="0" type="radio" id="radio2" />
			<label for="radio2">não</label>

			<div class="input-group teste">
				<div class="input-field">
					<input placeholder="Digite aqui" id="example" type="text" name="example">
					<label for="example">Example</label>
				</div>
			</div>
		</div>
	```

.radio-group
	.input-field
		input.input-radio.with-gap(type="radio" id="radio1" name="group-1")
		label.form-label(for="radio1") radio 1
	
	.input-field
		input.input-radio.with-gap(type="radio" id="radio2" name="group-1")
		label.form-label(for="radio2") radio 2

	.input-field
		input.input-radio.with-gap(type="radio" id="radio3" name="group-1" checked="checked")
		label.form-label(for="radio3") radio checked 3

:markdown
	```
		<div class="radio-group">
			<input class="input-radio" name="group1" type="radio" id="radio1" />
			<label for="radio1">radio 1</label>

			<input class="input-radio" name="group1" type="radio" id="radio2" />
			<label for="radio2">radio 2</label>

			<input class="input-radio" name="group1" type="radio" id="radio3" />
			<label for="radio3">radio 3</label>
		</div>
	```

h3.mad-content-sub-title Input Radio Inline
.radio-group
	input.input-radio(type="radio" id="radio11" name="group-111")
	label.form-label(for="radio11") radio 1

	input.input-radio(type="radio" id="radio22" name="group-111")
	label.form-label(for="radio22") radio 2

	input.input-radio(type="radio" id="radio33" name="group-111" checked="checked")
	label.form-label(for="radio33") radio checked 3

:markdown
	```
		<div class="radio-group">
			<input class="input-radio" name="group111" type="radio" id="radio11" />
			<label for="radio11">radio 1</label>

			<input class="input-radio" name="group111" type="radio" id="radio22" />
			<label for="radio22">radio 2</label>

			<input class="input-radio" name="group111" type="radio" id="radio33" />
			<label for="radio33">radio 3</label>
		</div>
	```

h3.mad-content-sub-title Input Select
.form-group
	select.form-input-select
		option 1
		option 2
		option 3
		option 4
	label.form-label(for="select") Example select


:markdown
	```
		<div class="form-group">
			<select class="form-input-select">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
		</div>

	```

h3.mad-content-sub-title Input Select Multiple
.form-group
	select.form-input-select(multiple)
		option(value="" disabled selected) Choose your option
		option(value="1") Option 1
		option(value="2") Option 2
		option(value="3") Option 3
	label.form-label(for="select") Example select
:markdown
	```
		<div class="form-group">
			<select  class="form-input-select" multiple>
				<option value="" disabled selected>Choose your option</option>
				<option value="1">Option 1</option>
				<option value="2">Option 2</option>
				<option value="3">Option 3</option>
			</select>
			<label>Materialize Multiple Select</label>
		</div>
	```

h3.mad-content-sub-title Input Select Multiple optgroup
.form-group
	select.form-input-select(multiple)
		optgroup(label="team 1")
			option(value="" disabled selected) Choose your option
			option(value="1") Option 1
			option(value="2") Option 2
		optgroup(label="team 2")
			option(value="3") Option 3
	label.form-label(for="select") Example select

:markdown
	```
		<div class="form-group">
			<select class="form-input-select" multiple>
				<optgroup label="team 1">
					<option value="1">Option 1</option>
					<option value="2">Option 2</option>
				</optgroup>
				<optgroup label="team 2">
					<option value="3">Option 3</option>
					<option value="4">Option 4</option>
				</optgroup>
			</select>
			<label>Optgroups</label>
		</div>
	```

h3.mad-content-sub-title Switches

.switch
	label
		| Off
		input(checked='', type='checkbox')
		span.lever
		| On

.switch
	label
		| Off
		input(disabled='', type='checkbox')
		span.lever
		| On


h3.mad-content-sub-title File Input
.file-field.input-field
	.btn-file
		span Arquivo
		input(type='file')
	.file-path-wrapper
		input.file-path.validate(type='text')
