h3.mad-content-title Icons
:markdown
  ```
  .nome-da-sua-classe {
    @include x-icon( insira-nome-icone-aqui );
  }

  Exemplo:
  .meu-icon-shopping {
    @include x-icon( icon-shopping111 );
  }

  ```
ul.mad-atom-icon-ul
  li
    span.icon-shopping111
  li
    span.icon-lock8
  li
    span.icon-assistencia-personal-care2
  li
    span.icon-cesta-basica2
  li
    span.icon-conjuge2
  li
    span.icon-desconto-em-medicamentos2
  li
    span.icon-diaria-por-incapacidade-temporaria2
  li
    span.icon-diaria-por-internacao-hospitalar2
  li
    span.icon-doencas-graves2
  li
    span.icon-invalidez2
  li
    span.icon-morte-acidental2
  li
    span.icon-morte-qualquer-causa2
  li
    span.icon-seguro-de-assistencia-funeral2
  li
    span.icon-sorteios-mensais2
  li
    span.icon-transplante-de-orgaos2
  li
    span.icon-pilha-dinheiro
  li
    span.icon-produto-invalidez-senior
  li
    span.icon-produto-prevencao
  li
    span.icon-produto-previdencia-vida-toda
  li
    span.icon-produto-private-solutions
  li
    span.icon-produto-private-top
  li
    span.icon-produto-profissional
  li
    span.icon-produto-protecao
  li
    span.icon-produto-seguranca-profissional
  li
    span.icon-produto-senior-premiado
  li
    span.icon-produto-vantagens
  li
    span.icon-produto-vida-tranquila
  li
    span.icon-produto-acidentes-pessoais
  li
    span.icon-produto-familiar
  li
    span.icon-produto-incapacidade-temporaria
  li
    span.icon-produto-invalidez
  li
    span.icon-assistencia-personal-care
  li
    span.icon-cesta-basica
  li
    span.icon-conjuge
  li
    span.icon-descontos-em-medicamentos
  li
    span.icon-diaria-por-internacao-hospitalar
  li
    span.icon-dit2
  li
    span.icon-doencas-graves
  li
    span.icon-invalidez3
  li
    span.icon-morte-acidental
  li
    span.icon-morte-natural
  li
    span.icon-morte-qualquer-causa
  li
    span.icon-saf
  li
    span.icon-servicos-assistenciais
  li
    span.icon-sorteios-mensais
  li
    span.icon-transplante-de-orgaos
  li
    span.icon-telemarketer1
  li
    span.icon-uniE600
  li
    span.icon-uniE601
  li
    span.icon-uniE602
  li
    span.icon-uniE603
  li
    span.icon-uniE604
  li
    span.icon-uniE605
  li
    span.icon-uniE606
  li
    span.icon-uniE607
  li
    span.icon-uniE608
  li
    span.icon-uniE609
  li
    span.icon-uniE60A
  li
    span.icon-uniE60C
  li
    span.icon-uniF000
  li
    span.icon-uniF001
  li
    span.icon-uniF002
  li
    span.icon-uniF003
  li
    span.icon-uniF004
  li
    span.icon-uniF005
  li
    span.icon-uniF006
  li
    span.icon-uniF007
  li
    span.icon-uniF008
  li
    span.icon-uniF009
  li
    span.icon-uniF00A
  li
    span.icon-uniF00B
  li
    span.icon-uniF00C
  li
    span.icon-uniF00D
  li
    span.icon-uniF00E
  li
    span.icon-uniF010
  li
    span.icon-uniF011
  li
    span.icon-uniF012
  li
    span.icon-uniF013
  li
    span.icon-uniF014
  li
    span.icon-uniF015
  li
    span.icon-uniF016
  li
    span.icon-uniF017
  li
    span.icon-uniF018
  li
    span.icon-uniF019
  li
    span.icon-uniF01A
  li
    span.icon-uniF01B
  li
    span.icon-uniF01C
  li
    span.icon-uniF01D
  li
    span.icon-uniF01E
  li
    span.icon-uniF021
  li
    span.icon-uniF022
  li
    span.icon-uniF023
  li
    span.icon-uniF024
  li
    span.icon-uniF025
  li
    span.icon-uniF026
  li
    span.icon-uniF027
  li
    span.icon-uniF028
  li
    span.icon-uniF029
  li
    span.icon-uniF02A
  li
    span.icon-uniF02B
  li
    span.icon-uniF02C
  li
    span.icon-uniF02D
  li
    span.icon-uniF02E
  li
    span.icon-uniF02F
  li
    span.icon-uniF030
  li
    span.icon-uniF03B
  li
    span.icon-uniF03C
  li
    span.icon-uniF03D
  li
    span.icon-uniF03E
  li
    span.icon-uniF040
  li
    span.icon-uniF041
  li
    span.icon-uniF042
  li
    span.icon-uniF043
  li
    span.icon-uniF044
  li
    span.icon-uniF045
  li
    span.icon-uniF046
  li
    span.icon-uniF047
  li
    span.icon-uniF048
  li
    span.icon-uniF049
  li
    span.icon-uniF04A
  li
    span.icon-uniF04B
  li
    span.icon-uniF04C
  li
    span.icon-uniF04D
  li
    span.icon-uniF04E
  li
    span.icon-uniF050
  li
    span.icon-uniF051
  li
    span.icon-uniF052
  li
    span.icon-uniF053
  li
    span.icon-uniF054
  li
    span.icon-uniF055
  li
    span.icon-uniF056
  li
    span.icon-uniF057
  li
    span.icon-uniF058
  li
    span.icon-uniF059
  li
    span.icon-uniF05A
  li
    span.icon-uniF05B
  li
    span.icon-uniF05C
  li
    span.icon-uniF05D
  li
    span.icon-uniF05E
  li
    span.icon-uniF060
  li
    span.icon-uniF061
  li
    span.icon-uniF062
  li
    span.icon-uniF063
  li
    span.icon-uniF064
  li
    span.icon-uniF067
  li
    span.icon-uniF068
  li
    span.icon-uniF069
  li
    span.icon-uniF06A
  li
    span.icon-uniF06E
  li
    span.icon-uniF070
  li
    span.icon-uniF071
  li
    span.icon-uniF072
  li
    span.icon-uniF073
  li
    span.icon-uniF074
  li
    span.icon-uniF075
  li
    span.icon-uniF076
  li
    span.icon-uniF077
  li
    span.icon-uniF078
  li
    span.icon-uniF079
  li
    span.icon-uniF07A
  li
    span.icon-uniF07B
  li
    span.icon-uniF07C
  li
    span.icon-uniF07D
  li
    span.icon-uniF07E
  li
    span.icon-uniF080
  li
    span.icon-uniF081
  li
    span.icon-uniF082
  li
    span.icon-uniF083
  li
    span.icon-uniF085
  li
    span.icon-uniF086
  li
    span.icon-uniF087
  li
    span.icon-uniF088
  li
    span.icon-uniF08A
  li
    span.icon-uniF08B
  li
    span.icon-uniF08C
  li
    span.icon-uniF08D
  li
    span.icon-uniF08E
  li
    span.icon-uniF090
  li
    span.icon-uniF091
  li
    span.icon-uniF092
  li
    span.icon-uniF093
  li
    span.icon-uniF095
  li
    span.icon-uniF096
  li
    span.icon-uniF097
  li
    span.icon-uniF098
  li
    span.icon-uniF099
  li
    span.icon-uniF09A
  li
    span.icon-uniF09B
  li
    span.icon-uniF09C
  li
    span.icon-uniF09D
  li
    span.icon-uniF09E
  li
    span.icon-uniF0A0
  li
    span.icon-uniF0A1
  li
    span.icon-uniF0A2
  li
    span.icon-uniF0A3
  li
    span.icon-uniF0A4
  li
    span.icon-uniF0A5
  li
    span.icon-uniF0A6
  li
    span.icon-uniF0A7
  li
    span.icon-uniF0A8
  li
    span.icon-uniF0A9
  li
    span.icon-uniF0AA
  li
    span.icon-uniF0AB
  li
    span.icon-uniF0AC
  li
    span.icon-uniF0AD
  li
    span.icon-uniF0AE
  li
    span.icon-uniF0B0
  li
    span.icon-uniF0B1
  li
    span.icon-uniF0C0
  li
    span.icon-uniF0C1
  li
    span.icon-uniF0C2
  li
    span.icon-uniF0C3
  li
    span.icon-uniF0C4
  li
    span.icon-uniF0C5
  li
    span.icon-uniF0C6
  li
    span.icon-uniF0C7
  li
    span.icon-uniF0C8
  li
    span.icon-uniF0C9
  li
    span.icon-uniF0CA
  li
    span.icon-uniF0CB
  li
    span.icon-uniF0CE
  li
    span.icon-uniF0D2
  li
    span.icon-uniF0D3
  li
    span.icon-uniF0D4
  li
    span.icon-uniF0D5
  li
    span.icon-uniF0D6
  li
    span.icon-uniF0D7
  li
    span.icon-uniF0D8
  li
    span.icon-uniF0D9
  li
    span.icon-uniF0DA
  li
    span.icon-uniF0DB
  li
    span.icon-uniF0DC
  li
    span.icon-uniF0DD
  li
    span.icon-uniF0DE
  li
    span.icon-uniF0E0
  li
    span.icon-uniF0E1
  li
    span.icon-uniF0E2
  li
    span.icon-uniF0E3
  li
    span.icon-uniF0E4
  li
    span.icon-uniF0E5
  li
    span.icon-uniF0E6
  li
    span.icon-uniF0E7
  li
    span.icon-uniF0E8
  li
    span.icon-uniF0E9
  li
    span.icon-uniF0EA
  li
    span.icon-uniF0EB
  li
    span.icon-uniF0EC
  li
    span.icon-uniF0ED
  li
    span.icon-uniF0EE
  li
    span.icon-uniF0F0
  li
    span.icon-uniF0F1
  li
    span.icon-uniF0F2
  li
    span.icon-uniF0F3
  li
    span.icon-uniF0F6
  li
    span.icon-uniF0F7
  li
    span.icon-uniF0FC
  li
    span.icon-uniF0FD
  li
    span.icon-uniF0FE
  li
    span.icon-uniF100
  li
    span.icon-uniF101
  li
    span.icon-uniF102
  li
    span.icon-uniF103
  li
    span.icon-uniF104
  li
    span.icon-uniF105
  li
    span.icon-uniF106
  li
    span.icon-uniF107
  li
    span.icon-uniF108
  li
    span.icon-uniF109
  li
    span.icon-uniF10A
  li
    span.icon-uniF10B
  li
    span.icon-uniF10C
  li
    span.icon-uniF10D
  li
    span.icon-uniF10E
  li
    span.icon-uniF110
  li
    span.icon-uniF111
  li
    span.icon-uniF112
  li
    span.icon-uniF113
  li
    span.icon-uniF114
  li
    span.icon-uniF115
  li
    span.icon-uniF118
  li
    span.icon-uniF119
  li
    span.icon-uniF122
  li
    span.icon-uniF123
  li
    span.icon-uniF124
  li
    span.icon-uniF125
  li
    span.icon-uniF128
  li
    span.icon-uniF129
  li
    span.icon-uniF12A
  li
    span.icon-uniF12D
  li
    span.icon-uniF130
  li
    span.icon-uniF131
  li
    span.icon-uniF132
  li
    span.icon-uniF133
  li
    span.icon-uniF137
  li
    span.icon-uniF138
  li
    span.icon-uniF139
  li
    span.icon-uniF13A
  li
    span.icon-uniF13E
  li
    span.icon-uniF140
  li
    span.icon-uniF141
  li
    span.icon-uniF142
  li
    span.icon-uniF143
  li
    span.icon-uniF144
  li
    span.icon-uniF145
  li
    span.icon-uniF146
  li
    span.icon-uniF147
  li
    span.icon-uniF148
  li
    span.icon-uniF149
  li
    span.icon-uniF14A
  li
    span.icon-uniF14B
  li
    span.icon-uniF14C
  li
    span.icon-uniF14D
  li
    span.icon-uniF150
  li
    span.icon-uniF151
  li
    span.icon-uniF152
  li
    span.icon-uniF15B
  li
    span.icon-uniF15C
  li
    span.icon-uniF160
  li
    span.icon-uniF161
  li
    span.icon-uniF164
  li
    span.icon-uniF165
  li
    span.icon-uniF166
  li
    span.icon-uniF167
  li
    span.icon-uniF168
  li
    span.icon-uniF169
  li
    span.icon-uniF16A
  li
    span.icon-uniF16B
  li
    span.icon-uniF16D
  li
    span.icon-uniF16E
  li
    span.icon-uniF173
  li
    span.icon-uniF175
  li
    span.icon-uniF176
  li
    span.icon-uniF177
  li
    span.icon-uniF178
  li
    span.icon-uniF182
  li
    span.icon-uniF183
  li
    span.icon-uniF184
  li
    span.icon-uniF18E
  li
    span.icon-uniF190
  li
    span.icon-uniF191
  li
    span.icon-uniF192
  li
    span.icon-uniF193
  li
    span.icon-uniF194
  li
    span.icon-uniF196
  li
    span.icon-uniF19C
  li
    span.icon-uniF19D
  li
    span.icon-uniF1A0
  li
    span.icon-uniF1A2
  li
    span.icon-uniF1A3
  li
    span.icon-uniF1A4
  li
    span.icon-uniF1A5
  li
    span.icon-uniF1A6
  li
    span.icon-uniF1AC
  li
    span.icon-uniF1AD
  li
    span.icon-uniF1AE
  li
    span.icon-uniF1B4
  li
    span.icon-uniF1B5
  li
    span.icon-uniF1B8
  li
    span.icon-uniF1B9
  li
    span.icon-uniF1BA
  li
    span.icon-uniF1BC
  li
    span.icon-uniF1BE
  li
    span.icon-uniF1C0
  li
    span.icon-uniF1C1
  li
    span.icon-uniF1C3
  li
    span.icon-uniF1C4
  li
    span.icon-uniF1C5
  li
    span.icon-uniF1C6
  li
    span.icon-uniF1C7
  li
    span.icon-uniF1C8
  li
    span.icon-uniF1C9
  li
    span.icon-uniF1CB
  li
    span.icon-uniF1CC
  li
    span.icon-uniF1CE
  li
    span.icon-uniF1D1
  li
    span.icon-uniF1D2
  li
    span.icon-uniF1D3
  li
    span.icon-uniF1D7
  li
    span.icon-uniF1D8
  li
    span.icon-uniF1D9
  li
    span.icon-uniF1DA
  li
    span.icon-uniF1DB
  li
    span.icon-uniF1DD
  li
    span.icon-uniF1DE
  li
    span.icon-uniF1E0
  li
    span.icon-uniF1E1
  li
    span.icon-uniF1E2
  li
    span.icon-uniF1E7
  li
    span.icon-uniF1E8
  li
    span.icon-uniF1E9
  li
    span.icon-uniF1EB
  li
    span.icon-uniF1EC
  li
    span.icon-uniF1ED
  li
    span.icon-uniF1F0
  li
    span.icon-uniF1F1
  li
    span.icon-uniF1F2
  li
    span.icon-uniF1F3
  li
    span.icon-uniF1F4
  li
    span.icon-uniF1F5
  li
    span.icon-uniF1F6
  li
    span.icon-uniF1F7
  li
    span.icon-uniF1F8
  li
    span.icon-uniF1F9
  li
    span.icon-uniF1FA
  li
    span.icon-uniF1FE
  li
    span.icon-uniF200
  li
    span.icon-uniF201
  li
    span.icon-uniF202
  li
    span.icon-uniF204
  li
    span.icon-uniF205
  li
    span.icon-uniF20A
  li
    span.icon-uniF20B
  li
    span.icon-uniF20E
  li
    span.icon-uniF210
  li
    span.icon-uniF211
  li
    span.icon-uniF212
  li
    span.icon-uniF213
  li
    span.icon-uniF214
  li
    span.icon-uniF230
  li
    span.icon-uniF231
  li
    span.icon-uniF232
  li
    span.icon-uniF233
  li
    span.icon-uniF234
  li
    span.icon-uniF235
  li
    span.icon-sem-gerente
  li
    span.icon-logo-mongeral-agon2
  li
    span.icon-logo-mongeral-agon
  li
    span.icon-acidentes-pessoais
  li
    span.icon-atendimento-icon
  li
    span.icon-beneficos-pagos
  li
    span.icon-calendario
  li
    span.icon-capital-segurado
  li
    span.icon-carteira-assinada
  li
    span.icon-cases-icon
  li
    span.icon-converso-icon
  li
    span.icon-corretores-parceiros
  li
    span.icon-dit
  li
    span.icon-empreendedorismo-icon
  li
    span.icon-EUR
  li
    span.icon-familiar
  li
    span.icon-finanas-icon
  li
    span.icon-funcionarios
  li
    span.icon-funcionarios2
  li
    span.icon-indique-um-amigo
  li
    span.icon-inovao-icon
  li
    span.icon-invalidez
  li
    span.icon-invalidez-senior
  li
    span.icon-investimento-icon
  li
    span.icon-legislao-icon
  li
    span.icon-loggado
  li
    span.icon-lucro-liquido
  li
    span.icon-maiores-grupos
  li
    span.icon-marketing-icon
  li
    span.icon-negcios-icon
  li
    span.icon-office
  li
    span.icon-parceiros-de-negocios
  li
    span.icon-play-outline
  li
    span.icon-prevencao
  li
    span.icon-prev-vida-toda
  li
    span.icon-private-solutions
  li
    span.icon-private-top
  li
    span.icon-profissional
  li
    span.icon-profissional-de-seguranca
  li
    span.icon-profissional-liberal
  li
    span.icon-protecao
  li
    span.icon-receitas
  li
    span.icon-receitas-de-premios
  li
    span.icon-senior-premiado
  li
    span.icon-unidades
  li
    span.icon-vantagens
  li
    span.icon-vidas-seguradas
  li
    span.icon-vida-tranquila
  li
    span.icon-X-clear
  li
    span.icon-atendimento-icon2
  li
    span.icon-empreendedorismo-icon2
  li
    span.icon-cases-icon2
  li
    span.icon-negcios-icon2
  li
    span.icon-converso-icon2
  li
    span.icon-marketing-icon2
  li
    span.icon-inovao-icon2
  li
    span.icon-finanas-icon2
  li
    span.icon-legislao-icon2
  li
    span.icon-investimento-icon2
  li
    span.icon-atendimento-icon22
  li
    span.icon-forward
  li
    span.icon-arrow-right
  li
    span.icon-arrow-left
  li
    span.icon-arrow-down
  li
    span.icon-arrow-up
  li
    span.icon-user2
  li
    span.icon-spinner6
  li
    span.icon-spinner7
  li
    span.icon-info2
  li
    span.icon-cancel-circle
  li
    span.icon-blocked
  li
    span.icon-cross
  li
    span.icon-checkmark
  li
    span.icon-play3
  li
    span.icon-pause2
  li
    span.icon-stop2
  li
    span.icon-backward2
  li
    span.icon-forward3
  li
    span.icon-first
  li
    span.icon-last
  li
    span.icon-previous2
  li
    span.icon-next2
  li
    span.icon-volume-high
  li
    span.icon-volume-medium
  li
    span.icon-volume-low
  li
    span.icon-volume-mute
  li
    span.icon-volume-mute2
  li
    span.icon-checkbox-checked
  li
    span.icon-share2
  li
    span.icon-google-plus2
  li
    span.icon-facebook2
  li
    span.icon-instagram2
  li
    span.icon-twitter2
  li
    span.icon-youtube3
  li
    span.icon-linkedin2
  li
    span.icon-search
  li
    span.icon-heart
  li
    span.icon-user
  li
    span.icon-check
  li
    span.icon-close
  li
    span.icon-remove
  li
    span.icon-times
  li
    span.icon-lock
  li
    span.icon-tag
  li
    span.icon-tags
  li
    span.icon-print
  li
    span.icon-align-left
  li
    span.icon-align-center
  li
    span.icon-align-right
  li
    span.icon-image
  li
    span.icon-photo
  li
    span.icon-picture-o
  li
    span.icon-play
  li
    span.icon-chevron-left
  li
    span.icon-chevron-right
  li
    span.icon-question-circle
  li
    span.icon-info-circle
  li
    span.icon-times-circle-o
  li
    span.icon-check-circle-o
  li
    span.icon-minus
  li
    span.icon-asterisk
  li
    span.icon-exclamation-circle
  li
    span.icon-chevron-up
  li
    span.icon-chevron-down
  li
    span.icon-heart-o
  li
    span.icon-sign-out
  li
    span.icon-phone
  li
    span.icon-twitter
  li
    span.icon-facebook
  li
    span.icon-facebook-f
  li
    span.icon-unlock
  li
    span.icon-bullhorn
  li
    span.icon-arrow-circle-left
  li
    span.icon-arrow-circle-right
  li
    span.icon-arrow-circle-up
  li
    span.icon-arrow-circle-down
  li
    span.icon-filter
  li
    span.icon-flask
  li
    span.icon-bars
  li
    span.icon-navicon
  li
    span.icon-reorder
  li
    span.icon-list-ul
  li
    span.icon-caret-down
  li
    span.icon-caret-up
  li
    span.icon-caret-left
  li
    span.icon-caret-right
  li
    span.icon-sort-desc
  li
    span.icon-sort-down
  li
    span.icon-sort-asc
  li
    span.icon-sort-up
  li
    span.icon-envelope
  li
    span.icon-linkedin
  li
    span.icon-angle-double-left
  li
    span.icon-angle-double-right
  li
    span.icon-angle-double-up
  li
    span.icon-angle-double-down
  li
    span.icon-angle-left
  li
    span.icon-angle-right
  li
    span.icon-angle-up
  li
    span.icon-angle-down
  li
    span.icon-desktop
  li
    span.icon-laptop
  li
    span.icon-mobile
  li
    span.icon-mobile-phone
  li
    span.icon-circle-o
  li
    span.icon-quote-left
  li
    span.icon-quote-right
  li
    span.icon-spinner
  li
    span.icon-circle
  li
    span.icon-mail-reply
  li
    span.icon-reply
  li
    span.icon-chevron-circle-left
  li
    span.icon-chevron-circle-right
  li
    span.icon-rss-square
  li
    span.icon-play-circle
  li
    span.icon-check-square
  li
    span.icon-youtube-play
  li
    span.icon-instagram
  li
    span.icon-recycle
  li
    span.icon-share-alt
  li
    span.icon-wifi
  li
    span.icon-paypal
  li
    span.icon-cc-visa
  li
    span.icon-cc-mastercard
  li
    span.icon-cc-discover
  li
    span.icon-cc-amex
  li
    span.icon-cc-stripe
  li
    span.icon-trash
  li
    span.icon-copyright
  li
    span.icon-at
  li
    span.icon-genderless
  li
    span.icon-facebook-official
  li
    span.icon-pinterest-p
  li
    span.icon-whatsapp
  li
    span.icon-trademark
  li
    span.icon-registered
  li
    span.icon-creative-commons
  li
    span.icon-calendar-plus-o
  li
    span.icon-calendar-minus-o
  li
    span.icon-calendar-times-o
  li
    span.icon-calendar-check-o
  li
    span.icon-commenting
  li
    span.icon-commenting-o
  li
    span.icon-pause-circle
  li
    span.icon-pause-circle-o
  li
    span.icon-stop-circle
  li
    span.icon-stop-circle-o
  li
    span.icon-search2
  li
    span.icon-envelope-o
  li
    span.icon-heart2
  li
    span.icon-star
  li
    span.icon-star-o
  li
    span.icon-user3
  li
    span.icon-film
  li
    span.icon-check2
  li
    span.icon-close2
  li
    span.icon-remove2
  li
    span.icon-times2
  li
    span.icon-cog
  li
    span.icon-gear
  li
    span.icon-trash-o
  li
    span.icon-home
  li
    span.icon-arrow-circle-o-down
  li
    span.icon-arrow-circle-o-up
  li
    span.icon-play-circle-o
  li
    span.icon-repeat
  li
    span.icon-rotate-right
  li
    span.icon-refresh
  li
    span.icon-lock2
  li
    span.icon-volume-off
  li
    span.icon-volume-down
  li
    span.icon-volume-up
  li
    span.icon-print2
  li
    span.icon-edit
  li
    span.icon-pencil-square-o
  li
    span.icon-share-square-o
  li
    span.icon-check-square-o
  li
    span.icon-step-backward
  li
    span.icon-fast-backward
  li
    span.icon-backward
  li
    span.icon-play2
  li
    span.icon-pause
  li
    span.icon-stop
  li
    span.icon-forward2
  li
    span.icon-fast-forward
  li
    span.icon-step-forward
  li
    span.icon-eject
  li
    span.icon-chevron-left2
  li
    span.icon-chevron-right2
  li
    span.icon-plus-circle
  li
    span.icon-minus-circle
  li
    span.icon-times-circle
  li
    span.icon-check-circle
  li
    span.icon-question-circle2
  li
    span.icon-info-circle2
  li
    span.icon-times-circle-o2
  li
    span.icon-check-circle-o2
  li
    span.icon-ban
  li
    span.icon-arrow-left2
  li
    span.icon-arrow-right2
  li
    span.icon-arrow-up2
  li
    span.icon-arrow-down2
  li
    span.icon-mail-forward
  li
    span.icon-share
  li
    span.icon-plus
  li
    span.icon-exclamation-circle2
  li
    span.icon-exclamation-triangle2
  li
    span.icon-warning2
  li
    span.icon-calendar
  li
    span.icon-chevron-up2
  li
    span.icon-chevron-down2
  li
    span.icon-shopping-cart
  li
    span.icon-comments
  li
    span.icon-thumbs-o-up
  li
    span.icon-thumbs-o-down
  li
    span.icon-heart-o2
  li
    span.icon-sign-out2
  li
    span.icon-phone2
  li
    span.icon-square-o
  li
    span.icon-phone-square
  li
    span.icon-twitter3
  li
    span.icon-facebook3
  li
    span.icon-facebook-f2
  li
    span.icon-unlock2
  li
    span.icon-rss
  li
    span.icon-arrow-circle-left2
  li
    span.icon-arrow-circle-right2
  li
    span.icon-arrow-circle-up2
  li
    span.icon-arrow-circle-down2
  li
    span.icon-wrench
  li
    span.icon-tasks
  li
    span.icon-paperclip
  li
    span.icon-square
  li
    span.icon-bars2
  li
    span.icon-navicon2
  li
    span.icon-reorder2
  li
    span.icon-list-ul2
  li
    span.icon-pinterest
  li
    span.icon-google-plus
  li
    span.icon-caret-down2
  li
    span.icon-caret-up2
  li
    span.icon-caret-left2
  li
    span.icon-caret-right2
  li
    span.icon-sort
  li
    span.icon-unsorted
  li
    span.icon-sort-desc2
  li
    span.icon-sort-down2
  li
    span.icon-sort-asc2
  li
    span.icon-sort-up2
  li
    span.icon-envelope2
  li
    span.icon-linkedin3
  li
    span.icon-rotate-left
  li
    span.icon-undo
  li
    span.icon-plus-square
  li
    span.icon-angle-double-left2
  li
    span.icon-angle-double-right2
  li
    span.icon-angle-double-up2
  li
    span.icon-angle-double-down2
  li
    span.icon-angle-left2
  li
    span.icon-angle-right2
  li
    span.icon-angle-up2
  li
    span.icon-angle-down2
  li
    span.icon-mobile2
  li
    span.icon-mobile-phone2
  li
    span.icon-circle-o2
  li
    span.icon-spinner2
  li
    span.icon-circle2
  li
    span.icon-mail-reply2
  li
    span.icon-reply2
  li
    span.icon-mail-reply-all
  li
    span.icon-reply-all
  li
    span.icon-info
  li
    span.icon-chevron-circle-left2
  li
    span.icon-chevron-circle-right2
  li
    span.icon-chevron-circle-up
  li
    span.icon-chevron-circle-down
  li
    span.icon-unlock-alt
  li
    span.icon-bullseye
  li
    span.icon-ellipsis-h
  li
    span.icon-ellipsis-v
  li
    span.icon-play-circle2
  li
    span.icon-check-square2
  li
    span.icon-file
  li
    span.icon-file-text
  li
    span.icon-thumbs-up
  li
    span.icon-thumbs-down
  li
    span.icon-youtube
  li
    span.icon-youtube-play2
  li
    span.icon-instagram3
  li
    span.icon-long-arrow-down
  li
    span.icon-long-arrow-up
  li
    span.icon-long-arrow-left
  li
    span.icon-long-arrow-right
  li
    span.icon-arrow-circle-o-right
  li
    span.icon-arrow-circle-o-left
  li
    span.icon-dot-circle-o
  li
    span.icon-plus-square-o
  li
    span.icon-automobile
  li
    span.icon-car
  li
    span.icon-share-alt2
  li
    span.icon-share-alt-square
  li
    span.icon-wifi2
  li
    span.icon-neuter
  li
    span.icon-facebook-official2
  li
    span.icon-pinterest-p2
  li
    span.icon-whatsapp2
  li
    span.icon-whatsapp22


