// --------------------------------------------------------------------------
// 04-base: Variables Shadows
// --------------------------------------------------------------------------

// Shadows Variables
// --------------------------------------------------------------------------

$offset-x: 0;
$offset-y: 2px;
$blur-radius: 10px;
$spread-radius: 0;
$color: rgba(0, 0, 0, 0.16);

$offset-x-2: 0;
$offset-y-2: 2px;
$blur-radius-2: 5px;
$spread-radius-2: 0;
$color-2: rgba(0, 0, 0, 0.26);


// Shadows Hover
// --------------------------------------------------------------------------
$offset-x-hover: 0;
$offset-y-hover: 6px;
$blur-radius-hover: 20px;
$spread-radius-hover: 0;
$color-hover: rgba(0, 0, 0, 0.19);

$offset-x-2-hover: 0;
$offset-y-2-hover: 8px;
$blur-radius-2-hover: 17px;
$spread-radius-2-hover: 0;
$color-2-hover: rgba(0, 0, 0, 0.2);

