///
///
///
///
///
%icon-shopping111 {
    content: "\e90e";
}
%icon-lock8 {
    content: "\e90f";
}
%icon-assistencia-personal-care2 {
    content: "\e901";
}
%icon-cesta-basica2 {
    content: "\e902";
}
%icon-conjuge2 {
    content: "\e903";
}
%icon-desconto-em-medicamentos2 {
    content: "\e904";
}
%icon-diaria-por-incapacidade-temporaria2 {
    content: "\e905";
}
%icon-diaria-por-internacao-hospitalar2 {
    content: "\e906";
}
%icon-doencas-graves2 {
    content: "\e907";
}
%icon-invalidez2 {
    content: "\e908";
}
%icon-morte-acidental2 {
    content: "\e909";
}
%icon-morte-qualquer-causa2 {
    content: "\e90a";
}
%icon-seguro-de-assistencia-funeral2 {
    content: "\e90b";
}
%icon-sorteios-mensais2 {
    content: "\e90c";
}
%icon-transplante-de-orgaos2 {
    content: "\e90d";
}
%icon-pilha-dinheiro {
    content: "\e900";
}
%icon-produto-invalidez-senior {
    content: "\e665";
}
%icon-produto-prevencao {
    content: "\e669";
}
%icon-produto-previdencia-vida-toda {
    content: "\e66d";
}
%icon-produto-private-solutions {
    content: "\e67a";
}
%icon-produto-private-top {
    content: "\e67f";
}
%icon-produto-profissional {
    content: "\e682";
}
%icon-produto-protecao {
    content: "\e684";
}
%icon-produto-seguranca-profissional {
    content: "\e687";
}
%icon-produto-senior-premiado {
    content: "\e689";
}
%icon-produto-vantagens {
    content: "\e688";
}
%icon-produto-vida-tranquila {
    content: "\e68a";
}
%icon-produto-acidentes-pessoais {
    content: "\e68b";
}
%icon-produto-familiar {
    content: "\e677";
}
%icon-produto-incapacidade-temporaria {
    content: "\e661";
}
%icon-produto-invalidez {
    content: "\e66b";
}
%icon-assistencia-personal-care {
    content: "\e667";
}
%icon-cesta-basica {
    content: "\e660";
}
%icon-conjuge {
    content: "\e662";
}
%icon-descontos-em-medicamentos {
    content: "\e663";
}
%icon-diaria-por-internacao-hospitalar {
    content: "\e664";
}
%icon-dit2 {
    content: "\e666";
}
%icon-doencas-graves {
    content: "\e668";
}
%icon-invalidez3 {
    content: "\e66a";
}
%icon-morte-acidental {
    content: "\e66c";
}
%icon-morte-natural {
    content: "\e66e";
}
%icon-morte-qualquer-causa {
    content: "\e66f";
}
%icon-saf {
    content: "\e670";
}
%icon-servicos-assistenciais {
    content: "\e671";
}
%icon-sorteios-mensais {
    content: "\e672";
}
%icon-transplante-de-orgaos {
    content: "\e673";
}
%icon-telemarketer1 {
    content: "\e674";
}
%icon-uniE600 {
    content: "\e675";
}
%icon-uniE601 {
    content: "\e676";
}
%icon-uniE602 {
    content: "\e678";
}
%icon-uniE603 {
    content: "\e679";
}
%icon-uniE604 {
    content: "\e67b";
}
%icon-uniE605 {
    content: "\e67c";
}
%icon-uniE606 {
    content: "\e67d";
}
%icon-uniE607 {
    content: "\e67e";
}
%icon-uniE608 {
    content: "\e680";
}
%icon-uniE609 {
    content: "\e681";
}
%icon-uniE60A {
    content: "\e683";
}
%icon-uniE60C {
    content: "\e686";
}
%icon-uniF000 {
    content: "\f000";
}
%icon-uniF001 {
    content: "\f001";
}
%icon-uniF002 {
    content: "\f00a";
}
%icon-uniF003 {
    content: "\f00b";
}
%icon-uniF004 {
    content: "\f00e";
}
%icon-uniF005 {
    content: "\f00f";
}
%icon-uniF006 {
    content: "\f010";
}
%icon-uniF007 {
    content: "\f011";
}
%icon-uniF008 {
    content: "\f012";
}
%icon-uniF009 {
    content: "\f016";
}
%icon-uniF00A {
    content: "\f017";
}
%icon-uniF00B {
    content: "\f018";
}
%icon-uniF00C {
    content: "\f019";
}
%icon-uniF00D {
    content: "\f01c";
}
%icon-uniF00E {
    content: "\f01f";
}
%icon-uniF010 {
    content: "\f020";
}
%icon-uniF011 {
    content: "\f022";
}
%icon-uniF012 {
    content: "\f024";
}
%icon-uniF013 {
    content: "\f025";
}
%icon-uniF014 {
    content: "\f029";
}
%icon-uniF015 {
    content: "\f02a";
}
%icon-uniF016 {
    content: "\f02d";
}
%icon-uniF017 {
    content: "\f02e";
}
%icon-uniF018 {
    content: "\f030";
}
%icon-uniF019 {
    content: "\f031";
}
%icon-uniF01A {
    content: "\f032";
}
%icon-uniF01B {
    content: "\f033";
}
%icon-uniF01C {
    content: "\f034";
}
%icon-uniF01D {
    content: "\f035";
}
%icon-uniF01E {
    content: "\f036";
}
%icon-uniF021 {
    content: "\f037";
}
%icon-uniF022 {
    content: "\f038";
}
%icon-uniF023 {
    content: "\f039";
}
%icon-uniF024 {
    content: "\f03a";
}
%icon-uniF025 {
    content: "\f03b";
}
%icon-uniF026 {
    content: "\f03c";
}
%icon-uniF027 {
    content: "\f03d";
}
%icon-uniF028 {
    content: "\f03e";
}
%icon-uniF029 {
    content: "\f03f";
}
%icon-uniF02A {
    content: "\f040";
}
%icon-uniF02B {
    content: "\f041";
}
%icon-uniF02C {
    content: "\f042";
}
%icon-uniF02D {
    content: "\f043";
}
%icon-uniF02E {
    content: "\f047";
}
%icon-uniF02F {
    content: "\f04f";
}
%icon-uniF030 {
    content: "\f05b";
}
%icon-uniF03B {
    content: "\f070";
}
%icon-uniF03C {
    content: "\f072";
}
%icon-uniF03D {
    content: "\f074";
}
%icon-uniF03E {
    content: "\f075";
}
%icon-uniF040 {
    content: "\f076";
}
%icon-uniF041 {
    content: "\f079";
}
%icon-uniF042 {
    content: "\f07b";
}
%icon-uniF043 {
    content: "\f07c";
}
%icon-uniF044 {
    content: "\f07d";
}
%icon-uniF045 {
    content: "\f07e";
}
%icon-uniF046 {
    content: "\f07f";
}
%icon-uniF047 {
    content: "\f080";
}
%icon-uniF048 {
    content: "\f081";
}
%icon-uniF049 {
    content: "\f082";
}
%icon-uniF04A {
    content: "\f083";
}
%icon-uniF04B {
    content: "\f084";
}
%icon-uniF04C {
    content: "\f085";
}
%icon-uniF04D {
    content: "\f089";
}
%icon-uniF04E {
    content: "\f08c";
}
%icon-uniF050 {
    content: "\f08d";
}
%icon-uniF051 {
    content: "\f08e";
}
%icon-uniF052 {
    content: "\f08f";
}
%icon-uniF053 {
    content: "\f090";
}
%icon-uniF054 {
    content: "\f091";
}
%icon-uniF055 {
    content: "\f092";
}
%icon-uniF056 {
    content: "\f093";
}
%icon-uniF057 {
    content: "\f094";
}
%icon-uniF058 {
    content: "\f097";
}
%icon-uniF059 {
    content: "\f09b";
}
%icon-uniF05A {
    content: "\f09d";
}
%icon-uniF05B {
    content: "\f09f";
}
%icon-uniF05C {
    content: "\f0a0";
}
%icon-uniF05D {
    content: "\f0a1";
}
%icon-uniF05E {
    content: "\f0a2";
}
%icon-uniF060 {
    content: "\f0a3";
}
%icon-uniF061 {
    content: "\f0a4";
}
%icon-uniF062 {
    content: "\f0a5";
}
%icon-uniF063 {
    content: "\f0a6";
}
%icon-uniF064 {
    content: "\f0a7";
}
%icon-uniF067 {
    content: "\f0b0";
}
%icon-uniF068 {
    content: "\f0b1";
}
%icon-uniF069 {
    content: "\f0b2";
}
%icon-uniF06A {
    content: "\f0b3";
}
%icon-uniF06E {
    content: "\f0b7";
}
%icon-uniF070 {
    content: "\f0b8";
}
%icon-uniF071 {
    content: "\f0b9";
}
%icon-uniF072 {
    content: "\f0ba";
}
%icon-uniF073 {
    content: "\f0bb";
}
%icon-uniF074 {
    content: "\f0bc";
}
%icon-uniF075 {
    content: "\f0bd";
}
%icon-uniF076 {
    content: "\f0be";
}
%icon-uniF077 {
    content: "\f0bf";
}
%icon-uniF078 {
    content: "\f0c0";
}
%icon-uniF079 {
    content: "\f0c1";
}
%icon-uniF07A {
    content: "\f0c2";
}
%icon-uniF07B {
    content: "\f0c3";
}
%icon-uniF07C {
    content: "\f0c4";
}
%icon-uniF07D {
    content: "\f0c5";
}
%icon-uniF07E {
    content: "\f0c7";
}
%icon-uniF080 {
    content: "\f0cb";
}
%icon-uniF081 {
    content: "\f0cc";
}
%icon-uniF082 {
    content: "\f0cd";
}
%icon-uniF083 {
    content: "\f0ce";
}
%icon-uniF085 {
    content: "\f0d0";
}
%icon-uniF086 {
    content: "\f0d1";
}
%icon-uniF087 {
    content: "\f0d3";
}
%icon-uniF088 {
    content: "\f0d4";
}
%icon-uniF08A {
    content: "\f0db";
}
%icon-uniF08B {
    content: "\f0df";
}
%icon-uniF08C {
    content: "\f0e3";
}
%icon-uniF08D {
    content: "\f0e4";
}
%icon-uniF08E {
    content: "\f0e5";
}
%icon-uniF090 {
    content: "\f0e6";
}
%icon-uniF091 {
    content: "\f0e7";
}
%icon-uniF092 {
    content: "\f0e8";
}
%icon-uniF093 {
    content: "\f0e9";
}
%icon-uniF095 {
    content: "\f0eb";
}
%icon-uniF096 {
    content: "\f0ec";
}
%icon-uniF097 {
    content: "\f0ed";
}
%icon-uniF098 {
    content: "\f0ee";
}
%icon-uniF099 {
    content: "\f0ef";
}
%icon-uniF09A {
    content: "\f0f0";
}
%icon-uniF09B {
    content: "\f0f1";
}
%icon-uniF09C {
    content: "\f0f2";
}
%icon-uniF09D {
    content: "\f0f3";
}
%icon-uniF09E {
    content: "\f0f4";
}
%icon-uniF0A0 {
    content: "\f0f5";
}
%icon-uniF0A1 {
    content: "\f0f6";
}
%icon-uniF0A2 {
    content: "\f0f7";
}
%icon-uniF0A3 {
    content: "\f0f8";
}
%icon-uniF0A4 {
    content: "\f0f9";
}
%icon-uniF0A5 {
    content: "\f0fa";
}
%icon-uniF0A6 {
    content: "\f0fb";
}
%icon-uniF0A7 {
    content: "\f0fc";
}
%icon-uniF0A8 {
    content: "\f0fd";
}
%icon-uniF0A9 {
    content: "\f0ff";
}
%icon-uniF0AA {
    content: "\f108";
}
%icon-uniF0AB {
    content: "\f109";
}
%icon-uniF0AC {
    content: "\f10a";
}
%icon-uniF0AD {
    content: "\f10f";
}
%icon-uniF0AE {
    content: "\f113";
}
%icon-uniF0B0 {
    content: "\f114";
}
%icon-uniF0B1 {
    content: "\f115";
}
%icon-uniF0C0 {
    content: "\f299";
}
%icon-uniF0C1 {
    content: "\f117";
}
%icon-uniF0C2 {
    content: "\f118";
}
%icon-uniF0C3 {
    content: "\f119";
}
%icon-uniF0C4 {
    content: "\f11a";
}
%icon-uniF0C5 {
    content: "\f11b";
}
%icon-uniF0C6 {
    content: "\f11c";
}
%icon-uniF0C7 {
    content: "\f11d";
}
%icon-uniF0C8 {
    content: "\f11e";
}
%icon-uniF0C9 {
    content: "\f11f";
}
%icon-uniF0CA {
    content: "\f120";
}
%icon-uniF0CB {
    content: "\f121";
}
%icon-uniF0CE {
    content: "\f125";
}
%icon-uniF0D2 {
    content: "\f128";
}
%icon-uniF0D3 {
    content: "\f12a";
}
%icon-uniF0D4 {
    content: "\f12b";
}
%icon-uniF0D5 {
    content: "\f12c";
}
%icon-uniF0D6 {
    content: "\f12d";
}
%icon-uniF0D7 {
    content: "\f12e";
}
%icon-uniF0D8 {
    content: "\f12f";
}
%icon-uniF0D9 {
    content: "\f130";
}
%icon-uniF0DA {
    content: "\f131";
}
%icon-uniF0DB {
    content: "\f132";
}
%icon-uniF0DC {
    content: "\f133";
}
%icon-uniF0DD {
    content: "\f134";
}
%icon-uniF0DE {
    content: "\f135";
}
%icon-uniF0E0 {
    content: "\f136";
}
%icon-uniF0E1 {
    content: "\f13b";
}
%icon-uniF0E2 {
    content: "\f13c";
}
%icon-uniF0E3 {
    content: "\f13d";
}
%icon-uniF0E4 {
    content: "\f13f";
}
%icon-uniF0E5 {
    content: "\f143";
}
%icon-uniF0E6 {
    content: "\f145";
}
%icon-uniF0E7 {
    content: "\f146";
}
%icon-uniF0E8 {
    content: "\f147";
}
%icon-uniF0E9 {
    content: "\f148";
}
%icon-uniF0EA {
    content: "\f149";
}
%icon-uniF0EB {
    content: "\f14b";
}
%icon-uniF0EC {
    content: "\f14c";
}
%icon-uniF0ED {
    content: "\f14d";
}
%icon-uniF0EE {
    content: "\f14e";
}
%icon-uniF0F0 {
    content: "\f14f";
}
%icon-uniF0F1 {
    content: "\f150";
}
%icon-uniF0F2 {
    content: "\f151";
}
%icon-uniF0F3 {
    content: "\f152";
}
%icon-uniF0F6 {
    content: "\f155";
}
%icon-uniF0F7 {
    content: "\f156";
}
%icon-uniF0FC {
    content: "\f15d";
}
%icon-uniF0FD {
    content: "\f15e";
}
%icon-uniF0FE {
    content: "\f15f";
}
%icon-uniF100 {
    content: "\f160";
}
%icon-uniF101 {
    content: "\f161";
}
%icon-uniF102 {
    content: "\f162";
}
%icon-uniF103 {
    content: "\f163";
}
%icon-uniF104 {
    content: "\f166";
}
%icon-uniF105 {
    content: "\f168";
}
%icon-uniF106 {
    content: "\f169";
}
%icon-uniF107 {
    content: "\f16b";
}
%icon-uniF108 {
    content: "\f16c";
}
%icon-uniF109 {
    content: "\f16e";
}
%icon-uniF10A {
    content: "\f16f";
}
%icon-uniF10B {
    content: "\f170";
}
%icon-uniF10C {
    content: "\f171";
}
%icon-uniF10D {
    content: "\f172";
}
%icon-uniF10E {
    content: "\f173";
}
%icon-uniF110 {
    content: "\f174";
}
%icon-uniF111 {
    content: "\f179";
}
%icon-uniF112 {
    content: "\f17a";
}
%icon-uniF113 {
    content: "\f17b";
}
%icon-uniF114 {
    content: "\f17c";
}
%icon-uniF115 {
    content: "\f17d";
}
%icon-uniF118 {
    content: "\f17e";
}
%icon-uniF119 {
    content: "\f17f";
}
%icon-uniF122 {
    content: "\f187";
}
%icon-uniF123 {
    content: "\f188";
}
%icon-uniF124 {
    content: "\f189";
}
%icon-uniF125 {
    content: "\f18a";
}
%icon-uniF128 {
    content: "\f18d";
}
%icon-uniF129 {
    content: "\f18f";
}
%icon-uniF12A {
    content: "\f191";
}
%icon-uniF12D {
    content: "\f195";
}
%icon-uniF130 {
    content: "\f198";
}
%icon-uniF131 {
    content: "\f199";
}
%icon-uniF132 {
    content: "\f19a";
}
%icon-uniF133 {
    content: "\f19b";
}
%icon-uniF137 {
    content: "\f19f";
}
%icon-uniF138 {
    content: "\f1a0";
}
%icon-uniF139 {
    content: "\f1a1";
}
%icon-uniF13A {
    content: "\f1a2";
}
%icon-uniF13E {
    content: "\f1a6";
}
%icon-uniF140 {
    content: "\f1a7";
}
%icon-uniF141 {
    content: "\f1a8";
}
%icon-uniF142 {
    content: "\f1a9";
}
%icon-uniF143 {
    content: "\f1aa";
}
%icon-uniF144 {
    content: "\f1ab";
}
%icon-uniF145 {
    content: "\f1ac";
}
%icon-uniF146 {
    content: "\f1ad";
}
%icon-uniF147 {
    content: "\f1ae";
}
%icon-uniF148 {
    content: "\f1af";
}
%icon-uniF149 {
    content: "\f1b0";
}
%icon-uniF14A {
    content: "\f1b1";
}
%icon-uniF14B {
    content: "\f1b2";
}
%icon-uniF14C {
    content: "\f1b3";
}
%icon-uniF14D {
    content: "\f1b4";
}
%icon-uniF150 {
    content: "\f1b6";
}
%icon-uniF151 {
    content: "\f1b7";
}
%icon-uniF152 {
    content: "\f1b8";
}
%icon-uniF15B {
    content: "\f1c2";
}
%icon-uniF15C {
    content: "\f1c3";
}
%icon-uniF160 {
    content: "\f1c6";
}
%icon-uniF161 {
    content: "\f1c7";
}
%icon-uniF164 {
    content: "\f1ca";
}
%icon-uniF165 {
    content: "\f1cb";
}
%icon-uniF166 {
    content: "\f1cc";
}
%icon-uniF167 {
    content: "\f1cd";
}
%icon-uniF168 {
    content: "\f1ce";
}
%icon-uniF169 {
    content: "\f1cf";
}
%icon-uniF16A {
    content: "\f1d0";
}
%icon-uniF16B {
    content: "\f1d1";
}
%icon-uniF16D {
    content: "\f1d3";
}
%icon-uniF16E {
    content: "\f1d4";
}
%icon-uniF173 {
    content: "\f1d8";
}
%icon-uniF175 {
    content: "\f1da";
}
%icon-uniF176 {
    content: "\f1db";
}
%icon-uniF177 {
    content: "\f1dc";
}
%icon-uniF178 {
    content: "\f1dd";
}
%icon-uniF182 {
    content: "\f1e8";
}
%icon-uniF183 {
    content: "\f1e9";
}
%icon-uniF184 {
    content: "\f1ea";
}
%icon-uniF18E {
    content: "\f1f5";
}
%icon-uniF190 {
    content: "\f1f6";
}
%icon-uniF191 {
    content: "\f1f7";
}
%icon-uniF192 {
    content: "\f1f9";
}
%icon-uniF193 {
    content: "\f1fa";
}
%icon-uniF194 {
    content: "\f1fb";
}
%icon-uniF196 {
    content: "\f1fd";
}
%icon-uniF19C {
    content: "\f203";
}
%icon-uniF19D {
    content: "\f204";
}
%icon-uniF1A0 {
    content: "\f206";
}
%icon-uniF1A2 {
    content: "\f208";
}
%icon-uniF1A3 {
    content: "\f209";
}
%icon-uniF1A4 {
    content: "\f20a";
}
%icon-uniF1A5 {
    content: "\f20b";
}
%icon-uniF1A6 {
    content: "\f20c";
}
%icon-uniF1AC {
    content: "\f212";
}
%icon-uniF1AD {
    content: "\f213";
}
%icon-uniF1AE {
    content: "\f214";
}
%icon-uniF1B4 {
    content: "\f219";
}
%icon-uniF1B5 {
    content: "\f21a";
}
%icon-uniF1B8 {
    content: "\f21d";
}
%icon-uniF1B9 {
    content: "\f21e";
}
%icon-uniF1BA {
    content: "\f21f";
}
%icon-uniF1BC {
    content: "\f221";
}
%icon-uniF1BE {
    content: "\f223";
}
%icon-uniF1C0 {
    content: "\f224";
}
%icon-uniF1C1 {
    content: "\f225";
}
%icon-uniF1C3 {
    content: "\f227";
}
%icon-uniF1C4 {
    content: "\f228";
}
%icon-uniF1C5 {
    content: "\f229";
}
%icon-uniF1C6 {
    content: "\f22a";
}
%icon-uniF1C7 {
    content: "\f22b";
}
%icon-uniF1C8 {
    content: "\f22d";
}
%icon-uniF1C9 {
    content: "\f22e";
}
%icon-uniF1CB {
    content: "\f233";
}
%icon-uniF1CC {
    content: "\f234";
}
%icon-uniF1CE {
    content: "\f236";
}
%icon-uniF1D1 {
    content: "\f238";
}
%icon-uniF1D2 {
    content: "\f239";
}
%icon-uniF1D3 {
    content: "\f23a";
}
%icon-uniF1D7 {
    content: "\f23e";
}
%icon-uniF1D8 {
    content: "\f23f";
}
%icon-uniF1D9 {
    content: "\f240";
}
%icon-uniF1DA {
    content: "\f241";
}
%icon-uniF1DB {
    content: "\f242";
}
%icon-uniF1DD {
    content: "\f244";
}
%icon-uniF1DE {
    content: "\f245";
}
%icon-uniF1E0 {
    content: "\f246";
}
%icon-uniF1E1 {
    content: "\f247";
}
%icon-uniF1E2 {
    content: "\f248";
}
%icon-uniF1E7 {
    content: "\f24d";
}
%icon-uniF1E8 {
    content: "\f24e";
}
%icon-uniF1E9 {
    content: "\f24f";
}
%icon-uniF1EB {
    content: "\f251";
}
%icon-uniF1EC {
    content: "\f252";
}
%icon-uniF1ED {
    content: "\f253";
}
%icon-uniF1F0 {
    content: "\f255";
}
%icon-uniF1F1 {
    content: "\f256";
}
%icon-uniF1F2 {
    content: "\f257";
}
%icon-uniF1F3 {
    content: "\f258";
}
%icon-uniF1F4 {
    content: "\f259";
}
%icon-uniF1F5 {
    content: "\f25a";
}
%icon-uniF1F6 {
    content: "\f25b";
}
%icon-uniF1F7 {
    content: "\f25c";
}
%icon-uniF1F8 {
    content: "\f25d";
}
%icon-uniF1F9 {
    content: "\f25e";
}
%icon-uniF1FA {
    content: "\f25f";
}
%icon-uniF1FE {
    content: "\f263";
}
%icon-uniF200 {
    content: "\f264";
}
%icon-uniF201 {
    content: "\f265";
}
%icon-uniF202 {
    content: "\f266";
}
%icon-uniF204 {
    content: "\f268";
}
%icon-uniF205 {
    content: "\f269";
}
%icon-uniF20A {
    content: "\f26e";
}
%icon-uniF20B {
    content: "\f26f";
}
%icon-uniF20E {
    content: "\f272";
}
%icon-uniF210 {
    content: "\f273";
}
%icon-uniF211 {
    content: "\f274";
}
%icon-uniF212 {
    content: "\f275";
}
%icon-uniF213 {
    content: "\f276";
}
%icon-uniF214 {
    content: "\f277";
}
%icon-uniF230 {
    content: "\f28e";
}
%icon-uniF231 {
    content: "\f28f";
}
%icon-uniF232 {
    content: "\f290";
}
%icon-uniF233 {
    content: "\f291";
}
%icon-uniF234 {
    content: "\f292";
}
%icon-uniF235 {
    content: "\f293";
}
%icon-sem-gerente {
    content: "\e64c";
}
%icon-logo-mongeral-agon2 {
    content: "\e64d";
}
%icon-logo-mongeral-agon {
    content: "\e62f";
}
%icon-acidentes-pessoais {
    content: "\e618";
}
%icon-atendimento-icon {
    content: "\e619";
}
%icon-beneficos-pagos {
    content: "\e61a";
}
%icon-calendario {
    content: "\e61b";
}
%icon-capital-segurado {
    content: "\e61c";
}
%icon-carteira-assinada {
    content: "\e61d";
}
%icon-cases-icon {
    content: "\e61e";
}
%icon-converso-icon {
    content: "\e61f";
}
%icon-corretores-parceiros {
    content: "\e620";
}
%icon-dit {
    content: "\e621";
}
%icon-empreendedorismo-icon {
    content: "\e622";
}
%icon-EUR {
    content: "\e623";
}
%icon-familiar {
    content: "\e624";
}
%icon-finanas-icon {
    content: "\e625";
}
%icon-funcionarios {
    content: "\e626";
}
%icon-funcionarios2 {
    content: "\e627";
}
%icon-indique-um-amigo {
    content: "\e628";
}
%icon-inovao-icon {
    content: "\e629";
}
%icon-invalidez {
    content: "\e62a";
}
%icon-invalidez-senior {
    content: "\e62b";
}
%icon-investimento-icon {
    content: "\e62c";
}
%icon-legislao-icon {
    content: "\e62d";
}
%icon-loggado {
    content: "\e62e";
}
%icon-lucro-liquido {
    content: "\e630";
}
%icon-maiores-grupos {
    content: "\e631";
}
%icon-marketing-icon {
    content: "\e632";
}
%icon-negcios-icon {
    content: "\e633";
}
%icon-office {
    content: "\e634";
}
%icon-parceiros-de-negocios {
    content: "\e635";
}
%icon-play-outline {
    content: "\e636";
}
%icon-prevencao {
    content: "\e637";
}
%icon-prev-vida-toda {
    content: "\e638";
}
%icon-private-solutions {
    content: "\e639";
}
%icon-private-top {
    content: "\e63a";
}
%icon-profissional {
    content: "\e63b";
}
%icon-profissional-de-seguranca {
    content: "\e63c";
}
%icon-profissional-liberal {
    content: "\e63d";
}
%icon-protecao {
    content: "\e63e";
}
%icon-receitas {
    content: "\e63f";
}
%icon-receitas-de-premios {
    content: "\e640";
}
%icon-senior-premiado {
    content: "\e641";
}
%icon-unidades {
    content: "\e642";
}
%icon-vantagens {
    content: "\e643";
}
%icon-vidas-seguradas {
    content: "\e644";
}
%icon-vida-tranquila {
    content: "\e645";
}
%icon-X-clear {
    content: "\e646";
}
%icon-atendimento-icon2 {
    content: "\e601";
}
%icon-empreendedorismo-icon2 {
    content: "\e602";
}
%icon-cases-icon2 {
    content: "\e603";
}
%icon-negcios-icon2 {
    content: "\e604";
}
%icon-converso-icon2 {
    content: "\e605";
}
%icon-marketing-icon2 {
    content: "\e606";
}
%icon-inovao-icon2 {
    content: "\e607";
}
%icon-finanas-icon2 {
    content: "\e608";
}
%icon-legislao-icon2 {
    content: "\e609";
}
%icon-investimento-icon2 {
    content: "\e60a";
}
%icon-atendimento-icon22 {
    content: "\e60b";
}
%icon-forward {
    content: "\e647";
}
%icon-arrow-right {
    content: "\e648";
}
%icon-arrow-left {
    content: "\e649";
}
%icon-arrow-down {
    content: "\e64a";
}
%icon-arrow-up {
    content: "\e64b";
}
%icon-user2 {
    content: "\e60d";
}
%icon-spinner6 {
    content: "\e64e";
}
%icon-spinner7 {
    content: "\e64f";
}
%icon-info2 {
    content: "\e60e";
}
%icon-cancel-circle {
    content: "\e650";
}
%icon-blocked {
    content: "\e651";
}
%icon-cross {
    content: "\e60f";
}
%icon-checkmark {
    content: "\e610";
}
%icon-play3 {
    content: "\e652";
}
%icon-pause2 {
    content: "\e653";
}
%icon-stop2 {
    content: "\e654";
}
%icon-backward2 {
    content: "\e655";
}
%icon-forward3 {
    content: "\e656";
}
%icon-first {
    content: "\e657";
}
%icon-last {
    content: "\e658";
}
%icon-previous2 {
    content: "\e659";
}
%icon-next2 {
    content: "\e65a";
}
%icon-volume-high {
    content: "\e65b";
}
%icon-volume-medium {
    content: "\e65c";
}
%icon-volume-low {
    content: "\e65d";
}
%icon-volume-mute {
    content: "\e65e";
}
%icon-volume-mute2 {
    content: "\e65f";
}
%icon-checkbox-checked {
    content: "\e611";
}
%icon-share2 {
    content: "\e600";
}
%icon-google-plus2 {
    content: "\e612";
}
%icon-facebook2 {
    content: "\e613";
}
%icon-instagram2 {
    content: "\e614";
}
%icon-twitter2 {
    content: "\e615";
}
%icon-youtube3 {
    content: "\e616";
}
%icon-linkedin2 {
    content: "\e617";
}
%icon-search {
    content: "\f009";
}
%icon-heart {
    content: "\f29a";
}
%icon-user {
    content: "\f29b";
}
%icon-check {
    content: "\f29c";
}
%icon-close {
    content: "\f29d";
}
%icon-remove {
    content: "\f29d";
}
%icon-times {
    content: "\f29d";
}
%icon-lock {
    content: "\f29e";
}
%icon-tag {
    content: "\f02b";
}
%icon-tags {
    content: "\f02c";
}
%icon-print {
    content: "\f29f";
}
%icon-align-left {
    content: "\f2a0";
}
%icon-align-center {
    content: "\f2a1";
}
%icon-align-right {
    content: "\f2a2";
}
%icon-image {
    content: "\f2a3";
}
%icon-photo {
    content: "\f2a3";
}
%icon-picture-o {
    content: "\f2a3";
}
%icon-play {
    content: "\f2a4";
}
%icon-chevron-left {
    content: "\f2a5";
}
%icon-chevron-right {
    content: "\f2a6";
}
%icon-question-circle {
    content: "\f2a7";
}
%icon-info-circle {
    content: "\f2a8";
}
%icon-times-circle-o {
    content: "\f2a9";
}
%icon-check-circle-o {
    content: "\f2aa";
}
%icon-minus {
    content: "\f2ab";
}
%icon-asterisk {
    content: "\f2ac";
}
%icon-exclamation-circle {
    content: "\f2ad";
}
%icon-chevron-up {
    content: "\f2ae";
}
%icon-chevron-down {
    content: "\f2af";
}
%icon-heart-o {
    content: "\f2b0";
}
%icon-sign-out {
    content: "\f2b1";
}
%icon-phone {
    content: "\f2b2";
}
%icon-twitter {
    content: "\f2b3";
}
%icon-facebook {
    content: "\f2b4";
}
%icon-facebook-f {
    content: "\f2b4";
}
%icon-unlock {
    content: "\f2b5";
}
%icon-bullhorn {
    content: "\f2b6";
}
%icon-arrow-circle-left {
    content: "\f2b7";
}
%icon-arrow-circle-right {
    content: "\f2b8";
}
%icon-arrow-circle-up {
    content: "\f2b9";
}
%icon-arrow-circle-down {
    content: "\f2ba";
}
%icon-filter {
    content: "\f2bb";
}
%icon-flask {
    content: "\f2bc";
}
%icon-bars {
    content: "\f2bd";
}
%icon-navicon {
    content: "\f2bd";
}
%icon-reorder {
    content: "\f2bd";
}
%icon-list-ul {
    content: "\f2be";
}
%icon-caret-down {
    content: "\f2bf";
}
%icon-caret-up {
    content: "\f2c0";
}
%icon-caret-left {
    content: "\f2c1";
}
%icon-caret-right {
    content: "\f2c2";
}
%icon-sort-desc {
    content: "\f2c3";
}
%icon-sort-down {
    content: "\f2c3";
}
%icon-sort-asc {
    content: "\f2c4";
}
%icon-sort-up {
    content: "\f2c4";
}
%icon-envelope {
    content: "\f2c5";
}
%icon-linkedin {
    content: "\f2c6";
}
%icon-angle-double-left {
    content: "\f2c7";
}
%icon-angle-double-right {
    content: "\f2c8";
}
%icon-angle-double-up {
    content: "\f2c9";
}
%icon-angle-double-down {
    content: "\f2ca";
}
%icon-angle-left {
    content: "\f2cb";
}
%icon-angle-right {
    content: "\f2cc";
}
%icon-angle-up {
    content: "\f2cd";
}
%icon-angle-down {
    content: "\f2ce";
}
%icon-desktop {
    content: "\f2cf";
}
%icon-laptop {
    content: "\f2d0";
}
%icon-mobile {
    content: "\f2d1";
}
%icon-mobile-phone {
    content: "\f2d1";
}
%icon-circle-o {
    content: "\f2d2";
}
%icon-quote-left {
    content: "\f10d";
}
%icon-quote-right {
    content: "\f10e";
}
%icon-spinner {
    content: "\f2d3";
}
%icon-circle {
    content: "\f2d4";
}
%icon-mail-reply {
    content: "\f2d5";
}
%icon-reply {
    content: "\f2d5";
}
%icon-chevron-circle-left {
    content: "\f2d6";
}
%icon-chevron-circle-right {
    content: "\f2d7";
}
%icon-rss-square {
    content: "\f2d8";
}
%icon-play-circle {
    content: "\f2d9";
}
%icon-check-square {
    content: "\f2da";
}
%icon-youtube-play {
    content: "\f2db";
}
%icon-instagram {
    content: "\f2dc";
}
%icon-recycle {
    content: "\f2dd";
}
%icon-share-alt {
    content: "\f2de";
}
%icon-wifi {
    content: "\f2df";
}
%icon-paypal {
    content: "\f2e0";
}
%icon-cc-visa {
    content: "\f2e1";
}
%icon-cc-mastercard {
    content: "\f2e2";
}
%icon-cc-discover {
    content: "\f2e3";
}
%icon-cc-amex {
    content: "\f2e4";
}
%icon-cc-stripe {
    content: "\f2e5";
}
%icon-trash {
    content: "\f1f8";
}
%icon-copyright {
    content: "\f2e6";
}
%icon-at {
    content: "\f2e7";
}
%icon-genderless {
    content: "\f2e8";
}
%icon-facebook-official {
    content: "\f2e9";
}
%icon-pinterest-p {
    content: "\f2ea";
}
%icon-whatsapp {
    content: "\f2eb";
}
%icon-trademark {
    content: "\f2ec";
}
%icon-registered {
    content: "\f2ed";
}
%icon-creative-commons {
    content: "\f2ee";
}
%icon-calendar-plus-o {
    content: "\f2ef";
}
%icon-calendar-minus-o {
    content: "\f2f0";
}
%icon-calendar-times-o {
    content: "\f2f1";
}
%icon-calendar-check-o {
    content: "\f2f2";
}
%icon-commenting {
    content: "\f2f3";
}
%icon-commenting-o {
    content: "\f2f4";
}
%icon-pause-circle {
    content: "\f2f5";
}
%icon-pause-circle-o {
    content: "\f2f6";
}
%icon-stop-circle {
    content: "\f2f7";
}
%icon-stop-circle-o {
    content: "\f2f8";
}
%icon-search2 {
    content: "\f002";
}
%icon-envelope-o {
    content: "\f003";
}
%icon-heart2 {
    content: "\f004";
}
%icon-star {
    content: "\f005";
}
%icon-star-o {
    content: "\f006";
}
%icon-user3 {
    content: "\f007";
}
%icon-film {
    content: "\f008";
}
%icon-check2 {
    content: "\f00c";
}
%icon-close2 {
    content: "\f00d";
}
%icon-remove2 {
    content: "\f00d";
}
%icon-times2 {
    content: "\f00d";
}
%icon-cog {
    content: "\f013";
}
%icon-gear {
    content: "\f013";
}
%icon-trash-o {
    content: "\f014";
}
%icon-home {
    content: "\f015";
}
%icon-arrow-circle-o-down {
    content: "\f01a";
}
%icon-arrow-circle-o-up {
    content: "\f01b";
}
%icon-play-circle-o {
    content: "\f01d";
}
%icon-repeat {
    content: "\f01e";
}
%icon-rotate-right {
    content: "\f01e";
}
%icon-refresh {
    content: "\f021";
}
%icon-lock2 {
    content: "\f023";
}
%icon-volume-off {
    content: "\f026";
}
%icon-volume-down {
    content: "\f027";
}
%icon-volume-up {
    content: "\f028";
}
%icon-print2 {
    content: "\f02f";
}
%icon-edit {
    content: "\f044";
}
%icon-pencil-square-o {
    content: "\f044";
}
%icon-share-square-o {
    content: "\f045";
}
%icon-check-square-o {
    content: "\f046";
}
%icon-step-backward {
    content: "\f048";
}
%icon-fast-backward {
    content: "\f049";
}
%icon-backward {
    content: "\f04a";
}
%icon-play2 {
    content: "\f04b";
}
%icon-pause {
    content: "\f04c";
}
%icon-stop {
    content: "\f04d";
}
%icon-forward2 {
    content: "\f04e";
}
%icon-fast-forward {
    content: "\f050";
}
%icon-step-forward {
    content: "\f051";
}
%icon-eject {
    content: "\f052";
}
%icon-chevron-left2 {
    content: "\f053";
}
%icon-chevron-right2 {
    content: "\f054";
}
%icon-plus-circle {
    content: "\f055";
}
%icon-minus-circle {
    content: "\f056";
}
%icon-times-circle {
    content: "\f057";
}
%icon-check-circle {
    content: "\f058";
}
%icon-question-circle2 {
    content: "\f059";
}
%icon-info-circle2 {
    content: "\f05a";
}
%icon-times-circle-o2 {
    content: "\f05c";
}
%icon-check-circle-o2 {
    content: "\f05d";
}
%icon-ban {
    content: "\f05e";
}
%icon-arrow-left2 {
    content: "\f060";
}
%icon-arrow-right2 {
    content: "\f061";
}
%icon-arrow-up2 {
    content: "\f062";
}
%icon-arrow-down2 {
    content: "\f063";
}
%icon-mail-forward {
    content: "\f064";
}
%icon-share {
    content: "\f064";
}
%icon-plus {
    content: "\f067";
}
%icon-exclamation-circle2 {
    content: "\f06a";
}
%icon-exclamation-triangle2 {
    content: "\f071";
}
%icon-warning2 {
    content: "\f071";
}
%icon-calendar {
    content: "\f073";
}
%icon-chevron-up2 {
    content: "\f077";
}
%icon-chevron-down2 {
    content: "\f078";
}
%icon-shopping-cart {
    content: "\f07a";
}
%icon-comments {
    content: "\f086";
}
%icon-thumbs-o-up {
    content: "\f087";
}
%icon-thumbs-o-down {
    content: "\f088";
}
%icon-heart-o2 {
    content: "\f08a";
}
%icon-sign-out2 {
    content: "\f08b";
}
%icon-phone2 {
    content: "\f095";
}
%icon-square-o {
    content: "\f096";
}
%icon-phone-square {
    content: "\f098";
}
%icon-twitter3 {
    content: "\f099";
}
%icon-facebook3 {
    content: "\f09a";
}
%icon-facebook-f2 {
    content: "\f09a";
}
%icon-unlock2 {
    content: "\f09c";
}
%icon-rss {
    content: "\f09e";
}
%icon-arrow-circle-left2 {
    content: "\f0a8";
}
%icon-arrow-circle-right2 {
    content: "\f0a9";
}
%icon-arrow-circle-up2 {
    content: "\f0aa";
}
%icon-arrow-circle-down2 {
    content: "\f0ab";
}
%icon-wrench {
    content: "\f0ad";
}
%icon-tasks {
    content: "\f0ae";
}
%icon-paperclip {
    content: "\f0c6";
}
%icon-square {
    content: "\f0c8";
}
%icon-bars2 {
    content: "\f0c9";
}
%icon-navicon2 {
    content: "\f0c9";
}
%icon-reorder2 {
    content: "\f0c9";
}
%icon-list-ul2 {
    content: "\f0ca";
}
%icon-pinterest {
    content: "\f0d2";
}
%icon-google-plus {
    content: "\f0d5";
}
%icon-caret-down2 {
    content: "\f0d7";
}
%icon-caret-up2 {
    content: "\f0d8";
}
%icon-caret-left2 {
    content: "\f0d9";
}
%icon-caret-right2 {
    content: "\f0da";
}
%icon-sort {
    content: "\f0dc";
}
%icon-unsorted {
    content: "\f0dc";
}
%icon-sort-desc2 {
    content: "\f0dd";
}
%icon-sort-down2 {
    content: "\f0dd";
}
%icon-sort-asc2 {
    content: "\f0de";
}
%icon-sort-up2 {
    content: "\f0de";
}
%icon-envelope2 {
    content: "\f0e0";
}
%icon-linkedin3 {
    content: "\f0e1";
}
%icon-rotate-left {
    content: "\f0e2";
}
%icon-undo {
    content: "\f0e2";
}
%icon-plus-square {
    content: "\f0fe";
}
%icon-angle-double-left2 {
    content: "\f100";
}
%icon-angle-double-right2 {
    content: "\f101";
}
%icon-angle-double-up2 {
    content: "\f102";
}
%icon-angle-double-down2 {
    content: "\f103";
}
%icon-angle-left2 {
    content: "\f104";
}
%icon-angle-right2 {
    content: "\f105";
}
%icon-angle-up2 {
    content: "\f106";
}
%icon-angle-down2 {
    content: "\f107";
}
%icon-mobile2 {
    content: "\f10b";
}
%icon-mobile-phone2 {
    content: "\f10b";
}
%icon-circle-o2 {
    content: "\f10c";
}
%icon-spinner2 {
    content: "\f110";
}
%icon-circle2 {
    content: "\f111";
}
%icon-mail-reply2 {
    content: "\f112";
}
%icon-reply2 {
    content: "\f112";
}
%icon-mail-reply-all {
    content: "\f122";
}
%icon-reply-all {
    content: "\f122";
}
%icon-info {
    content: "\f129";
}
%icon-chevron-circle-left2 {
    content: "\f137";
}
%icon-chevron-circle-right2 {
    content: "\f138";
}
%icon-chevron-circle-up {
    content: "\f139";
}
%icon-chevron-circle-down {
    content: "\f13a";
}
%icon-unlock-alt {
    content: "\f13e";
}
%icon-bullseye {
    content: "\f140";
}
%icon-ellipsis-h {
    content: "\f141";
}
%icon-ellipsis-v {
    content: "\f142";
}
%icon-play-circle2 {
    content: "\f144";
}
%icon-check-square2 {
    content: "\f14a";
}
%icon-file {
    content: "\f15b";
}
%icon-file-text {
    content: "\f15c";
}
%icon-thumbs-up {
    content: "\f164";
}
%icon-thumbs-down {
    content: "\f165";
}
%icon-youtube {
    content: "\f167";
}
%icon-youtube-play2 {
    content: "\f16a";
}
%icon-instagram3 {
    content: "\f16d";
}
%icon-long-arrow-down {
    content: "\f175";
}
%icon-long-arrow-up {
    content: "\f176";
}
%icon-long-arrow-left {
    content: "\f177";
}
%icon-long-arrow-right {
    content: "\f178";
}
%icon-arrow-circle-o-right {
    content: "\f18e";
}
%icon-arrow-circle-o-left {
    content: "\f190";
}
%icon-dot-circle-o {
    content: "\f192";
}
%icon-plus-square-o {
    content: "\f196";
}
%icon-automobile {
    content: "\f1b9";
}
%icon-car {
    content: "\f1b9";
}
%icon-share-alt2 {
    content: "\f1e0";
}
%icon-share-alt-square {
    content: "\f1e1";
}
%icon-wifi2 {
    content: "\f1eb";
}
%icon-neuter {
    content: "\f22c";
}
%icon-facebook-official2 {
    content: "\f230";
}
%icon-pinterest-p2 {
    content: "\f231";
}
%icon-whatsapp2 {
    content: "\f232";
}
%icon-whatsapp22 {
    content: "\e60c";
}

