thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

table, th, td {
    border: 0;
    border-collapse: collapse;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 0 solid #ddd
}

.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd
}

.table>thead>tr>th {
    vertical-align: bottom;
}

.table>caption+thead>tr:first-child>td,.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>td,.table>thead:first-child>tr:first-child>th {
    border-top: 0
}

.primary {
  background-color: core-color('primary');
}
.aw90 {
  background-color: core-color('primary', 'aw90');
}
.aw60 {
  background-color: core-color('primary', 'aw60');
}
.aw40 {
  background-color: core-color('primary', 'aw40');
}
.aw20 {
  background-color: core-color('primary', 'aw20');
}
.aw10 {
  background-color: core-color('primary', 'aw10');
}
.ab5 {
  background-color: core-color('primary', 'ab5');
}
.ab10 {
  background-color: core-color('primary', 'ab10');
}
.ab20 {
  background-color: core-color('primary', 'ab20');
}
.ab40 {
  background-color: core-color('primary', 'ab40');
}
.ab60 {
  background-color: core-color('primary', 'ab60');
}



.aux-one {
  background-color: core-color('aux-one');
}
.aux-one-10 {
  background-color: core-color('aux-one', 'aux-10');
}
.aux-one-20 {
  background-color: core-color('aux-one', 'aux-20');
}
.aux-one-30 {
  background-color: core-color('aux-one', 'aux-30');
}
.aux-one-40 {
  background-color: core-color('aux-one', 'aux-40');
}
.aux-one-50 {
  background-color: core-color('aux-one', 'aux-50');
}
.aux-one-60 {
  background-color: core-color('aux-one', 'aux-60');
}
.aux-one-70 {
  background-color: core-color('aux-one', 'aux-70');
}
.aux-one-b5 {
  background-color: core-color('aux-one', 'aux-b5');
}
.aux-one-b10 {
  background-color: core-color('aux-one', 'aux-b10');
}
.aux-one-b20 {
  background-color: core-color('aux-one', 'aux-b20');
}
.aux-one-b40 {
  background-color: core-color('aux-one', 'aux-b40');
}
.aux-one-b60 {
  background-color: core-color('aux-one', 'aux-b60');
}


.aux-two {
  background-color: core-color('aux-two');
}
.aux-two-10 {
  background-color: core-color('aux-two', 'aux-10');
}
.aux-two-20 {
  background-color: core-color('aux-two', 'aux-20');
}
.aux-two-30 {
  background-color: core-color('aux-two', 'aux-30');
}
.aux-two-40 {
  background-color: core-color('aux-two', 'aux-40');
}
.aux-two-50 {
  background-color: core-color('aux-two', 'aux-50');
}
.aux-two-60 {
  background-color: core-color('aux-two', 'aux-60');
}
.aux-two-70 {
  background-color: core-color('aux-two', 'aux-70');
}
.aux-two-b5 {
  background-color: core-color('aux-two', 'aux-b5');
}
.aux-two-b10 {
  background-color: core-color('aux-two', 'aux-b10');
}
.aux-two-b20 {
  background-color: core-color('aux-two', 'aux-b20');
}
.aux-two-b40 {
  background-color: core-color('aux-two', 'aux-b40');
}
.aux-two-b60 {
  background-color: core-color('aux-two', 'aux-b60');
}


.aux-three {
  background-color: core-color('aux-three');
}
.aux-three-10 {
  background-color: core-color('aux-three', 'aux-10');
}
.aux-three-20 {
  background-color: core-color('aux-three', 'aux-20');
}
.aux-three-30 {
  background-color: core-color('aux-three', 'aux-30');
}
.aux-three-40 {
  background-color: core-color('aux-three', 'aux-40');
}
.aux-three-50 {
  background-color: core-color('aux-three', 'aux-50');
}
.aux-three-60 {
  background-color: core-color('aux-three', 'aux-60');
}
.aux-three-70 {
  background-color: core-color('aux-three', 'aux-70');
}
.aux-three-b5 {
  background-color: core-color('aux-three', 'aux-b5');
}
.aux-three-b10 {
  background-color: core-color('aux-three', 'aux-b10');
}
.aux-three-b20 {
  background-color: core-color('aux-three', 'aux-b20');
}
.aux-three-b40 {
  background-color: core-color('aux-three', 'aux-b40');
}
.aux-three-b60 {
  background-color: core-color('aux-three', 'aux-b60');
}


.aux-four {
  background-color: core-color('aux-four');
}
.aux-four-10 {
  background-color: core-color('aux-four', 'aux-10');
}
.aux-four-20 {
  background-color: core-color('aux-four', 'aux-20');
}
.aux-four-30 {
  background-color: core-color('aux-four', 'aux-30');
}
.aux-four-40 {
  background-color: core-color('aux-four', 'aux-40');
}
.aux-four-50 {
  background-color: core-color('aux-four', 'aux-50');
}
.aux-four-60 {
  background-color: core-color('aux-four', 'aux-60');
}
.aux-four-70 {
  background-color: core-color('aux-four', 'aux-70');
}
.aux-four-b5 {
  background-color: core-color('aux-four', 'aux-b5');
}
.aux-four-b10 {
  background-color: core-color('aux-four', 'aux-b10');
}
.aux-four-b20 {
  background-color: core-color('aux-four', 'aux-b20');
}
.aux-four-b40 {
  background-color: core-color('aux-four', 'aux-b40');
}
.aux-four-b60 {
  background-color: core-color('aux-four', 'aux-b60');
}


.aux-five {
  background-color: core-color('aux-five');
}
.aux-five-10 {
  background-color: core-color('aux-five', 'aux-10');
}
.aux-five-20 {
  background-color: core-color('aux-five', 'aux-20');
}
.aux-five-30 {
  background-color: core-color('aux-five', 'aux-30');
}
.aux-five-40 {
  background-color: core-color('aux-five', 'aux-40');
}
.aux-five-50 {
  background-color: core-color('aux-five', 'aux-50');
}
.aux-five-60 {
  background-color: core-color('aux-five', 'aux-60');
}
.aux-five-70 {
  background-color: core-color('aux-five', 'aux-70');
}
.aux-five-b5 {
  background-color: core-color('aux-five', 'aux-b5');
}
.aux-five-b10 {
  background-color: core-color('aux-five', 'aux-b10');
}
.aux-five-b20 {
  background-color: core-color('aux-five', 'aux-b20');
}
.aux-five-b40 {
  background-color: core-color('aux-five', 'aux-b40');
}
.aux-five-b60 {
  background-color: core-color('aux-five', 'aux-b60');
}



.aux-six {
  background-color: core-color('aux-six');
}
.aux-six-10 {
  background-color: core-color('aux-six', 'aux-10');
}
.aux-six-20 {
  background-color: core-color('aux-six', 'aux-20');
}
.aux-six-30 {
  background-color: core-color('aux-six', 'aux-30');
}
.aux-six-40 {
  background-color: core-color('aux-six', 'aux-40');
}
.aux-six-50 {
  background-color: core-color('aux-six', 'aux-50');
}
.aux-six-60 {
  background-color: core-color('aux-six', 'aux-60');
}
.aux-six-70 {
  background-color: core-color('aux-six', 'aux-70');
}
.aux-six-b5 {
  background-color: core-color('aux-six', 'aux-b5');
}
.aux-six-b10 {
  background-color: core-color('aux-six', 'aux-b10');
}
.aux-six-b20 {
  background-color: core-color('aux-six', 'aux-b20');
}
.aux-six-b40 {
  background-color: core-color('aux-six', 'aux-b40');
}
.aux-six-b60 {
  background-color: core-color('aux-six', 'aux-b60');
}


.aux-seven {
  background-color: core-color('aux-seven');
}
.aux-seven-10 {
  background-color: core-color('aux-seven', 'aux-10');
}
.aux-seven-20 {
  background-color: core-color('aux-seven', 'aux-20');
}
.aux-seven-30 {
  background-color: core-color('aux-seven', 'aux-30');
}
.aux-seven-40 {
  background-color: core-color('aux-seven', 'aux-40');
}
.aux-seven-50 {
  background-color: core-color('aux-seven', 'aux-50');
}
.aux-seven-60 {
  background-color: core-color('aux-seven', 'aux-60');
}
.aux-seven-70 {
  background-color: core-color('aux-seven', 'aux-70');
}
.aux-seven-b5 {
  background-color: core-color('aux-seven', 'aux-b5');
}
.aux-seven-b10 {
  background-color: core-color('aux-seven', 'aux-b10');
}
.aux-seven-b20 {
  background-color: core-color('aux-seven', 'aux-b20');
}
.aux-seven-b40 {
  background-color: core-color('aux-seven', 'aux-b40');
}
.aux-seven-b60 {
  background-color: core-color('aux-seven', 'aux-b60');
}



.color-text-primary {
  background-color: core-color('color-text-primary');
}
.color-text-primary-10 {
  background-color: core-color('color-text-primary', 'aux-10');
}
.color-text-primary-20 {
  background-color: core-color('color-text-primary', 'aux-20');
}
.color-text-primary-30 {
  background-color: core-color('color-text-primary', 'aux-30');
}
.color-text-primary-40 {
  background-color: core-color('color-text-primary', 'aux-40');
}
.color-text-primary-50 {
  background-color: core-color('color-text-primary', 'aux-50');
}
.color-text-primary-60 {
  background-color: core-color('color-text-primary', 'aux-60');
}
.color-text-primary-70 {
  background-color: core-color('color-text-primary', 'aux-70');
}
.color-text-primary-b5 {
  background-color: core-color('color-text-primary', 'aux-b5');
}
.color-text-primary-b10 {
  background-color: core-color('color-text-primary', 'aux-b10');
}
.color-text-primary-b20 {
  background-color: core-color('color-text-primary', 'aux-b20');
}
.color-text-primary-b40 {
  background-color: core-color('color-text-primary', 'aux-b40');
}
.color-text-primary-b60 {
  background-color: core-color('color-text-primary', 'aux-b60');
}
.color-text-secundary {
  background-color: core-color('color-text-secundary');
}
.color-text-secundary-10 {
  background-color: core-color('color-text-secundary', 'aux-10');
}
.color-text-secundary-20 {
  background-color: core-color('color-text-secundary', 'aux-20');
}
.color-text-secundary-30 {
  background-color: core-color('color-text-secundary', 'aux-30');
}
.color-text-secundary-40 {
  background-color: core-color('color-text-secundary', 'aux-40');
}
.color-text-secundary-50 {
  background-color: core-color('color-text-secundary', 'aux-50');
}
.color-text-secundary-60 {
  background-color: core-color('color-text-secundary', 'aux-60');
}
.color-text-secundary-70 {
  background-color: core-color('color-text-secundary', 'aux-70');
}
.color-text-secundary-b5 {
  background-color: core-color('color-text-secundary', 'aux-b5');
}
.color-text-secundary-b10 {
  background-color: core-color('color-text-secundary', 'aux-b10');
}
.color-text-secundary-b20 {
  background-color: core-color('color-text-secundary', 'aux-b20');
}
.color-text-secundary-b40 {
  background-color: core-color('color-text-secundary', 'aux-b40');
}
.color-text-secundary-b60 {
  background-color: core-color('color-text-secundary', 'aux-b60');
}
