// --------------------------------------------------------------------------
// Component: Article
// --------------------------------------------------------------------------


// Base elements for images within the article
//
// {.article img}
// {.article figure}
// --------------------------------------------------------------------------
.article img {
  display: block;
  margin: 0 auto;
  height: auto;
}
.article figure {
  margin: 0;
}



// Base Elements: Article - Image
// .article
//
// insert the featured image
// {.article__image}
// --------------------------------------------------------------------------
.article__image {
  img {
    width: 100%;
  }
  figcaption {
    display: none;
  }
}


// Base Elements: Article - Content
// .article
//
// inserting content width and centralizes
// {.article__content}
// --------------------------------------------------------------------------
.article__content {
  margin: -100px auto 100px auto;
  position: relative;
  width: 95%;
  z-index: 1;
}


// Base Elements: Article Content - Category
// .article .article__content
//
// format the article category
// {.article__content__category}
// --------------------------------------------------------------------------
.article__content__category{
  @extend %headings-4;
  background-color: blue;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 10px;
}


// Base Elements: Article Content - Title
// .article .article__content
//
// format the main title
// {.article__content__title}
// --------------------------------------------------------------------------
.article__content__title {
  @extend %headings-1;
}


// Base Elements: Article Content - Published
// .article .article__content
//
// format the publication date
// {.article__content__published}
// --------------------------------------------------------------------------
.article__content__published {
  .icon-published {}
}


// Base Elements: Article Content - Social
// .article .article__content
//
// {.article__content__social}
// --------------------------------------------------------------------------
.article__content__social {}


// Base Elements: Article Title
// .article .article__content
//
//
// {.article__content__text}
// --------------------------------------------------------------------------
.article__content__text {
  background-color: #fff;
}



// Base Elements: Article Content Text - Paragraph
// .article .article__content .article__content__text
//
// format the paragraph within the article content
// {.article__content__text>p}
// {.article__content__text>p>a}
// {.article__content__text>p strong}
// {.article__content__text>p b}
// --------------------------------------------------------------------------
.article__content__text {
  &>p {
    @extend %base-text-1;
    &>a {
      @extend %link-default;
    }
    b,
    strong {
      font-weight: bold;
    }
  }
}




// Base Elements: Article Content Text - Ordered List
// .article .article__content .article__content__text
//
// format the Ordered List within the article content
// {.article__content__text ul...}
// --------------------------------------------------------------------------
.article__content__text {
  &>ul {
    padding-left: 1em;
    margin-bottom: 20px;
    li {
      @extend %base-text-1;
      list-style-type: decimal;
      a {
        @extend %link-default;
      }
    }
  }
}




// Base Elements: Article Content Text - Unordered List
// .article .article__content .article__content__text
//
// format the unordered list within the article content
// {.article__content__text ol...}
// --------------------------------------------------------------------------
.article__content__text {
  &>ol {
    padding-left: 1em;
    margin-bottom: 20px;
    li {
      @extend %base-text-1;
      list-style-type: disc;
      a {
        @extend %link-default;
      }
    }
  }
}




// Base Elements: Article Content Text - Heading
// .article .article__content .article__content__text
//
// format titles in the article content
// {.article__content__text h1...}
// --------------------------------------------------------------------------
.article__content__text {
  h1 {
     @extend %headings-1;
  }
  h2 {
     @extend %headings-2;
  }
  h3 {
     @extend %headings-3;
  }
  h4 {
     @extend %headings-4;
  }
  h5 {
     @extend %headings-5;
  }
  h6 {
     @extend %headings-6;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
     margin-top: 15px;
  }
}



// Base Elements: Article Content Text - Photo
// .article .article__content .article__content__text
//
// insert the image in the center of the content
// {.article__content__text__photo}
//
// insert the image of the left side content
// {.article__content__text__photo__photo--left}
// --------------------------------------------------------------------------
.article__content__text {
  &__photo {
    max-width: 100%;
    margin-bottom: 30px;
    img {
      width: 100%;
      max-width: 800px;
    }
    figcaption {
      @extend %base-text-3;
      margin-top: 10px;
      text-align: left;
      text-rendering: auto;
      text-transform: uppercase;
    }
  }
  &__photo--left div {
    float: left;
    margin: 10px 30px 10px 0;
    position: relative;
    img {
        max-width: 300px;
        height: inherit;
    }
  }
}

// Base Elements: Article Content Text - Blockquote
// .article .article__content .article__content__text
//
// insert the blockquote of the left side content
// {.article__content__text blockquote}
// --------------------------------------------------------------------------
$blockquote-color: #000;
$blockquote-font-family: Georgia, serif;
$blockquote-font-size: 16px;
$blockquote-color-aspas: #999;
$blockquote-font-size-aspas: 120px;
$blockquote-background: #fff;
$blockquote-max-width: 300px;
$blockquote-padding: 20px;
$blockquote-margin: 10px 30px 10px 0;


.article__content__text {
  blockquote{
    @include box-shadow (2px, 2px, 15px, 2px, rgba(204, 204, 204, 0.58));
    max-width: $blockquote-max-width;
    display:block;
    background: $blockquote-background;
    padding: $blockquote-padding;
    float: left;
    margin: 10px 30px 10px 0;
    position: relative;
    z-index: 1;
    font-family: $blockquote-font-family;
    font-size: $blockquote-font-size;
    line-height: 1.2;
    color: $blockquote-color;
    text-align: justify;
    &::before,
    &::after {
      position: absolute;
      font-family: $blockquote-font-family;
      font-size: $blockquote-font-size-aspas;
      font-weight: bold;
      color: $blockquote-color-aspas;
      height: 65px;
      z-index: -1;
    }
    &::before{
      content: "\201C";
      left: 0px;
      top:-20px;

    }
    &::after{
      content: "\201D";
      right: 0px;
      bottom:5px;
    }
    em{
      font-style: italic;
    }
  }
}
