doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=1")
    block meta
    title="MADStyle"
    link(rel="icon", type="image/x-icon", href="docs/assets/images/favicon.ico")
    link(rel="apple-icon", type="image/png", href="docs/assets/images/apple-icon.png")
    link(rel="android-icon", type="image/png", href="docs/assets/images/android-icon.png")
    block styles
  body
      block content
    block scripts
