// --------------------------------------------------------------------------
// Component: Article
// --------------------------------------------------------------------------



// Icon - refatorar
// --------------------------------------------------------------------------

%fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


// Grid Article
//
// --------------------------------------------------------------------------

  article,
  .article {
    @include row();
  }



// Base elements for images within the article
//
// {.article img}
// {.article figure}
// --------------------------------------------------------------------------
.article img {
  display: block;
  margin: 0 auto;
  height: auto;
}
.article figure {
  margin: 0;
}



// Base Elements: Article - Image
// .article
//
// insert the featured image
// {.article__image}
// --------------------------------------------------------------------------
.article__image {
  img {
    width: 100%;
    @include media($mobile) {
      width: 200%;
      margin-left: -50%;
      max-width: 200%;
    }
  }
  figcaption {
    display: none;
  }
}



// Base Elements: Article - Image Popup
// .article
//
// enter icon play the video link
// {.article__image__popup}
// --------------------------------------------------------------------------

.article__image__popup {
  @extend %fa;
  display: block;
  position: relative;
  text-decoration: none;

  &:hover {
    &:before {
      background: #757B80;
    }
  }
  &:before {
   content: "\f04b";
    font-size: 53px;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -45px;
    color: #fff;
    border-radius: 50%;
    background: #7d8992;
    padding: 19px 18px 16px 27px;
    text-shadow: 2px 1px 1px #3D3A3A;
    @include media($tablet-max) {
      font-size: 31px;
      margin-top: -28px;
      margin-left: -28px;
      padding: 13px 15px 13px 21px;
    }
  }
}


// Base Elements: Article - Content
// .article
//
// inserting content width and centralizes
// {.article__content}
// --------------------------------------------------------------------------
.article__content {
  @include span-columns(8);
  @include shift(2);
  margin-top: -350px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
  @include media($tablet) {
    margin-top: -200px;
  }
  @include media($wide) {
    margin-top: -350px;
  }
  @include media($tablet-max) {
    @include span-columns(10);
    @include shift(1);
    margin-top: -100px;
  }
}




// Base Elements: Article - Content
// .article .article__content
//
// removes the margin-top of the article content
// { .article__content__popup }
// --------------------------------------------------------------------------
.article__content__popup {
  margin-top: inherit;
  @include media($tablet) {
    margin-top: inherit;
  }
  @include media($wide) {
    margin-top: inherit;
  }
  @include media($tablet-max) {
    margin-top: inherit;
  }
}


// Base Elements: Article Content - Category
// .article .article__content
//
// format the article category
// {.article__content__category}
// --------------------------------------------------------------------------
.article__content__category{
  @extend %headings-4;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 10px;
}


// Base Elements: Article Content - Title
// .article .article__content .article__content__text
//
// format the main title
// {.article__content__text__title}
// --------------------------------------------------------------------------
.article__content__text {
  .article__content__text__title {
    @extend %headings-1;
    text-align: center;
    @include media($mobile) {
      font-size:   $headings-h3-font-size;
      line-height: $headings-h3-line-height;
    }
  }
}


// Base Elements: Article Content - Published
// .article .article__content
//
// format the publication date
// {.article__content__published}
// --------------------------------------------------------------------------
.article__content__published {
  .icon-published {}
}



// Base Elements: Article Title
// .article .article__content
//
//
// {.article__content__text}
// --------------------------------------------------------------------------
.article__content__text {
  background-color: #fff;
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 20px;
  width: 100%;
  @include media($mobile) {
    padding-left: 1em;
    padding-right: 1em;
  }
}


// Base Elements: Article Content Text - Paragraph
// .article .article__content .article__content__text
//
// format the paragraph within the article content
// {.article__content__text>p}
// {.article__content__text>p>a}
// {.article__content__text>p strong}
// {.article__content__text>p b}
// --------------------------------------------------------------------------
.article__content__text {
  p,
  a {
    @extend %base-text-0;
  }

  &>p {
    &>a {
      @extend %base-text-0;
      @extend %link-default;
    }
    b,
    strong {
      font-weight: bold;
    }
  }
}




// Base Elements: Article Content Text - Ordered List
// .article .article__content .article__content__text
//
// format the Ordered List within the article content
// {.article__content__text ul...}
// --------------------------------------------------------------------------
.article__content__text {
  &>ul {
    padding-left: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    li {
      list-style-type: decimal;
      @extend %base-text-0;
      a {
        @extend %base-text-0;
        @extend %link-default;
      }
    }
  }
}


// Base Elements: Article Content Text - Unordered List
// .article .article__content .article__content__text
//
// format the unordered list within the article content
// {.article__content__text ol...}
// --------------------------------------------------------------------------
.article__content__text {
  &>ol {
    padding-left: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    li {
      list-style-type: disc;
      @extend %base-text-0;
      a {
        @extend %base-text-0;
        @extend %link-default;
      }
    }
  }
}




// Base Elements: Article Content Text - Heading
// .article .article__content .article__content__text
//
// format titles in the article content
// {.article__content__text h1...}
// --------------------------------------------------------------------------
.article__content__text {
  h1 {
     @extend %headings-1;
  }
  h2 {
     @extend %headings-2;
  }
  h3 {
     @extend %headings-3;
  }
  h4 {
     @extend %headings-4;
  }
  h5 {
     @extend %headings-5;
  }
  h6 {
     @extend %headings-6;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
     margin-top: 15px;
     word-wrap: break-word;
  }
}



// Base Elements: Article Content Text - Photo
// .article .article__content .article__content__text
//
// insert the image in the center of the content
// {.article__content__text__photo}
//
// insert the image of the left side content
// {.article__content__text__photo__photo--left}
// --------------------------------------------------------------------------
.article__content__text {
  &__photo {
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    img {
      width: 100%;
    }
    figcaption {
      @extend %base-text-3;
      margin-top: 10px;
      text-align: center;
      text-rendering: auto;
      text-transform: uppercase;
    }
  }
  &__photo--left div {
    float: left;
    margin: 10px 30px 10px 0;
    position: relative;
    img {
        max-width: 300px;
        height: inherit;
    }
  }
}

// Base Elements: Article Content Text - Infos
// .article .article__content .article__content__text
//
// {.article__content__text__infos}
// --------------------------------------------------------------------------

.article__content__text {
  .article__content__text__infos {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 30px;
  }
  .article__content__text__author,
  .article__content__text__published,
  .article__content__text__like {
    @extend %base-text-1;
    margin-right: 15px;
    @include media($mobile) {
      font-size:  $base-text-3-font-size;
      line-height: $base-text-3-line-height;
    }
  }
  .article__content__text__author {
    .icon-author {
      &:before {
        margin-right: 5px;
      }
    }
  }
  .article__content__text__published {
    .icon-published {
      &:before {
         margin-right: 5px;
      }
    }
  }
  .article__content__text__like {
    .icon-like  {
      &:before {
        color: #fa2a2a;
        margin-right: 5px;
      }
    }
  }
}


// Base Elements: Article Content Text - Blockquote
// .article .article__content .article__content__text
//
// insert the blockquote of the left side content
// {.article__content__text blockquote}
// --------------------------------------------------------------------------


.article__content__text {
  blockquote{
    @include box-shadow (2px, 2px, 15px, 2px, rgba(204, 204, 204, 0.58));
    margin-bottom: 30px;
    max-width: $blockquote-max-width;
    display:block;
    background: $blockquote-background;
    padding: $blockquote-padding;
    float: left;
    margin: 10px 30px 10px 0;
    position: relative;
    z-index: 1;
    font-family: $blockquote-font-family;
    font-size: $blockquote-font-size;
    line-height: 1.2;
    color: $blockquote-color;
    text-align: justify;
    @include media($mobile) {
      margin: 10px 0px 10px 0;
    }
    &::before,
    &::after {
      position: absolute;
      font-family: $blockquote-font-family;
      font-size: $blockquote-font-size-aspas;
      font-weight: bold;
      color: $blockquote-color-aspas;
      height: 65px;
      z-index: -1;
    }
    &::before{
      content: "\201C";
      left: 0px;
      top:-20px;

    }
    &::after{
      content: "\201D";
      right: 0px;
      bottom:5px;
    }
    em{
      font-style: italic;
    }
    strong {
      font-weight: bold;
    }
  }
}



// Base Elements: Article Content - Tags
// .article .article__content
//
// {.article__content__tags}
// --------------------------------------------------------------------------
.article__content__tags {
  margin-top: 40px;
  margin-bottom: 40px;
}
.article__content__tags__link {
  @extend %base-text-0;
  @extend %link-default;
  margin-left: 10px;
}
.article__content__tags__icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::before{
    content: "\f02b";
    margin-right: 5px;
  }
}



// Base Elements: Article Content - Social
// .article .article__content
//
// {.article__content__text__social}
// --------------------------------------------------------------------------
.article__content__text__social {
  @include outer-container;
  margin-top: 25px;
  margin-bottom: 40px;
  clear: both;
}

