// --------------------------------------------------------------------------
// Component: Article
// --------------------------------------------------------------------------

//nao tirar esta classe
$mobile: new-breakpoint(max-width 500px);




// Base Elements: Article Content Text - Blockquote
// .article .article__content .article__content__text
//
// insert the blockquote of the left side content
// {.article__content__text blockquote}
// --------------------------------------------------------------------------
$blockquote-color: #000;
$blockquote-font-family: $font-family-primary;
$blockquote-font-size: 18px;
$blockquote-color-aspas: #999;
$blockquote-font-size-aspas: 120px;
$blockquote-background: #fff;
$blockquote-max-width: 300px;
$blockquote-padding: 20px;
$blockquote-margin: 10px 30px 10px 0;


