// --------------------------------------------------------------------------
// Color
// --------------------------------------------------------------------------
$color-primary: #006db2;
$aux-one:   #00a7e5; //blue light
$aux-two:   #f44336; //red
$aux-three: #ff9800; //orange
$aux-four:  #4caf50; //green
$aux-five:  #9e9e9e; //gray
$aux-six:   #c0c0c8; //gray light
$aux-seven: #ebebeb; //gray white light

//Color Text
$color-text-primary  : #ffffff; //white
$color-text-secundary: #000000; //black

//Buttons Color
$btn-one  :   $color-primary; //blue
$btn-two  :   $aux-two; //red
$btn-three:   $aux-three; //orange
$btn-four :   $aux-four; //green
$btn-five :   $aux-five; //gray
$btn-six  :   $aux-seven; //gray white light

$core-opacity: (
  'light': 0.8, // opacity used with lighter colors
  'dark': 0.4,  // opacity used with darker colors
  // ... etc.
);

$core-color-key: 'base' !default;
$core-colors: (
  'primary': (
    'base': $color-primary,
    'aw90': mix(white, $color-primary, 90%),
    'aw60': mix(white, $color-primary, 60%),
    'aw40': mix(white, $color-primary, 40%),
    'aw20': mix(white, $color-primary, 20%),
    'aw10': mix(white, $color-primary, 10%),

    'ab5' : mix(black, $color-primary, 5%),
    'ab10': mix(black, $color-primary, 10%),
    'ab20': mix(black, $color-primary, 20%),
    'ab40': mix(black, $color-primary, 40%),
    'ab60': mix(black, $color-primary, 60%)
  ),
  'aux-one': ( //blue light
    'base': $aux-one,
    'aux-10': mix(white, $aux-one, 10%),
    'aux-20': mix(white, $aux-one, 20%),
    'aux-30': mix(white, $aux-one, 30%),
    'aux-40': mix(white, $aux-one, 40%),
    'aux-50': mix(white, $aux-one, 50%),
    'aux-60': mix(white, $aux-one, 60%),
    'aux-70': mix(white, $aux-one, 70%),

    'aux-b5' : mix(black, $aux-one, 5%),
    'aux-b10': mix(black, $aux-one, 10%),
    'aux-b20': mix(black, $aux-one, 20%),
    'aux-b40': mix(black, $aux-one, 40%),
    'aux-b60': mix(black, $aux-one, 60%)
  ),
  'aux-two': ( //red
    'base': $aux-two,
    'aux-10': mix(white, $aux-two, 10%),
    'aux-20': mix(white, $aux-two, 20%),
    'aux-30': mix(white, $aux-two, 30%),
    'aux-40': mix(white, $aux-two, 40%),
    'aux-50': mix(white, $aux-two, 50%),
    'aux-60': mix(white, $aux-two, 60%),
    'aux-70': mix(white, $aux-two, 70%),

    'aux-b5' : mix(black, $aux-two, 5%),
    'aux-b10': mix(black, $aux-two, 10%),
    'aux-b20': mix(black, $aux-two, 20%),
    'aux-b40': mix(black, $aux-two, 40%),
    'aux-b60': mix(black, $aux-two, 60%)
  ),
  'aux-three': ( //orange
    'base': $aux-three,
    'aux-10': mix(white, $aux-three, 10%),
    'aux-20': mix(white, $aux-three, 20%),
    'aux-30': mix(white, $aux-three, 30%),
    'aux-40': mix(white, $aux-three, 40%),
    'aux-50': mix(white, $aux-three, 50%),
    'aux-60': mix(white, $aux-three, 60%),
    'aux-70': mix(white, $aux-three, 70%),

    'aux-b5' : mix(black, $aux-three, 5%),
    'aux-b10': mix(black, $aux-three, 10%),
    'aux-b20': mix(black, $aux-three, 20%),
    'aux-b40': mix(black, $aux-three, 40%),
    'aux-b60': mix(black, $aux-three, 60%)
  ),
  'aux-four': ( //green
    'base': $aux-four,
    'aux-10': mix(white, $aux-four, 10%),
    'aux-20': mix(white, $aux-four, 20%),
    'aux-30': mix(white, $aux-four, 30%),
    'aux-40': mix(white, $aux-four, 40%),
    'aux-50': mix(white, $aux-four, 50%),
    'aux-60': mix(white, $aux-four, 60%),
    'aux-70': mix(white, $aux-four, 70%),

    'aux-b5' : mix(black, $aux-four, 5%),
    'aux-b10': mix(black, $aux-four, 10%),
    'aux-b20': mix(black, $aux-four, 20%),
    'aux-b40': mix(black, $aux-four, 40%),
    'aux-b60': mix(black, $aux-four, 60%)
  ),
  'aux-five': ( //gray
    'base': $aux-five,
    'aux-10': mix(white, $aux-five, 10%),
    'aux-20': mix(white, $aux-five, 20%),
    'aux-30': mix(white, $aux-five, 30%),
    'aux-40': mix(white, $aux-five, 40%),
    'aux-50': mix(white, $aux-five, 50%),
    'aux-60': mix(white, $aux-five, 60%),
    'aux-70': mix(white, $aux-five, 70%),

    'aux-b5' : mix(black, $aux-five, 5%),
    'aux-b10': mix(black, $aux-five, 10%),
    'aux-b20': mix(black, $aux-five, 20%),
    'aux-b40': mix(black, $aux-five, 40%),
    'aux-b60': mix(black, $aux-five, 60%)
  ),
  'aux-six': ( //gray light
    'base': $aux-six,
    'aux-10': mix(white, $aux-six, 10%),
    'aux-20': mix(white, $aux-six, 20%),
    'aux-30': mix(white, $aux-six, 30%),
    'aux-40': mix(white, $aux-six, 40%),
    'aux-50': mix(white, $aux-six, 50%),
    'aux-60': mix(white, $aux-six, 60%),
    'aux-70': mix(white, $aux-six, 70%),

    'aux-b5' : mix(black, $aux-six, 5%),
    'aux-b10': mix(black, $aux-six, 10%),
    'aux-b20': mix(black, $aux-six, 20%),
    'aux-b40': mix(black, $aux-six, 40%),
    'aux-b60': mix(black, $aux-six, 60%)
  ),
  'aux-seven': ( //gray white light
    'base': $aux-seven,
    'aux-10': mix(white, $aux-seven, 10%),
    'aux-20': mix(white, $aux-seven, 20%),
    'aux-30': mix(white, $aux-seven, 30%),
    'aux-40': mix(white, $aux-seven, 40%),
    'aux-50': mix(white, $aux-seven, 50%),
    'aux-60': mix(white, $aux-seven, 60%),
    'aux-70': mix(white, $aux-seven, 70%),

    'aux-b5' : mix(black, $aux-seven, 5%),
    'aux-b10': mix(black, $aux-seven, 10%),
    'aux-b20': mix(black, $aux-seven, 20%),
    'aux-b40': mix(black, $aux-seven, 40%),
    'aux-b60': mix(black, $aux-seven, 60%)
  ),
  'color-text-primary': ( //white
    'base': $color-text-primary,
    'aux-10': mix(white, $color-text-primary, 10%),
    'aux-20': mix(white, $color-text-primary, 20%),
    'aux-30': mix(white, $color-text-primary, 30%),
    'aux-40': mix(white, $color-text-primary, 40%),
    'aux-50': mix(white, $color-text-primary, 50%),
    'aux-60': mix(white, $color-text-primary, 60%),
    'aux-70': mix(white, $color-text-primary, 70%),

    'aux-b5' : mix(black, $color-text-primary, 5%),
    'aux-b10': mix(black, $color-text-primary, 10%),
    'aux-b20': mix(black, $color-text-primary, 20%),
    'aux-b40': mix(black, $color-text-primary, 40%),
    'aux-b60': mix(black, $color-text-primary, 60%)
  ),
  'color-text-secundary': ( //white
    'base': $color-text-secundary,
    'aux-10': mix(white, $color-text-secundary, 10%),
    'aux-20': mix(white, $color-text-secundary, 20%),
    'aux-30': mix(white, $color-text-secundary, 30%),
    'aux-40': mix(white, $color-text-secundary, 40%),
    'aux-50': mix(white, $color-text-secundary, 50%),
    'aux-60': mix(white, $color-text-secundary, 60%),
    'aux-70': mix(white, $color-text-secundary, 70%),

    'aux-b5' : mix(black, $color-text-secundary, 5%),
    'aux-b10': mix(black, $color-text-secundary, 10%),
    'aux-b20': mix(black, $color-text-secundary, 20%),
    'aux-b40': mix(black, $color-text-secundary, 40%),
    'aux-b60': mix(black, $color-text-secundary, 60%)
  ),
);

