// --------------------------------------------------------------------------
// Variables: General
// --------------------------------------------------------------------------

$font-family-primary: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-default: 1rem !default;

// --------------------------------------------------------------------------
// Base Color
// --------------------------------------------------------------------------

$color-primary: #006db2;
$aux-one:   #00a7e5; //blue light
$aux-two:   #f44336; //red
$aux-three: #ff9800; //orange
$aux-four:  #4caf50; //green
$aux-five:  #9e9e9e; //gray
$aux-six:   #c0c0c8; //gray light






