// --------------------------------------------------------------------------
//Button Style
// --------------------------------------------------------------------------
//---------------------------------------------------------------------
// HTML
//---------------------------------------------------------------------
// .nome-card {
//   @include set-styles("blue");
// }
// .nome-card {
//   @include set-styles("blue","large");
// }



%btn {
    border: $button-border-width solid transparent;
    border-radius: $button-border-radius;
    cursor: pointer;
    display: inline-block;
    font-weight: $button-font-weight;
    font-family: $button-font-family;
    text-align: center;
    touch-action: manipulation;
    line-height: $button-height;
    margin-bottom: 10px;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    &:active,
    &:focus {
        text-decoration: none;
    }
    &:active {
        background-image: none;
        outline: 0;
    }
    &:focus {
        outline: none;
    }
    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 100%;
        margin: -15px 0 0 1px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: scale3d(1, 2, 1);
        transform: scale3d(1, 2, 1);
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
        transition-timing-function: cubic-bezier(0.7,0,0.9,1);
    }
    &:hover::before {
        -webkit-transform: scale3d(9, 9, 1);
        transform: scale3d(9, 9, 1);
    }
}

@each $btn-types, $btn-type in $btn-types {
    %btn-#{$btn-types} {
        @extend %btn;
        background-color:  map-get($btn-type, background-color);
        color: map-get($btn-type, color);
        &:hover{
            background-color: map-get($btn-type, background-color-hover);
            color: map-get($btn-type, color-hover);
        }
        &:active{
            background-color: map-get($btn-type, background-color-active);
            color: map-get($btn-type, color-active);
        }
        &::before {
            background-color: map-get($btn-type, background-color-hover);
        }
    }
}

@mixin set-styles($btn-types, $btn-widht:false) {
  @extend %btn-#{$btn-types};
  @if $btn-widht == "large" {
    padding: $button-padding-large-y $button-padding-large-x;
    font-size: $button-font-size-large;
  } @else if ($btn-widht == "small") {
    font-size: $button-font-size-small;
    padding:  $button-padding-small-y $button-padding-small-x;
  } @else {
    font-size: $button-font-size-medium;
    padding: $button-padding-medium-y $button-padding-medium-x;
  }
}

//---------------------------------------------------------------------
// Block button
//---------------------------------------------------------------------
%btn-block {
    .btn-block {
        display: block;
        width: 100%;
    }
    // Vertically space out multiple block buttons
    .btn-block + .btn-block {
        margin-top: 5px;
    }
}

