h3 Buttons

table
  tr
    td
      button.btn-send(type='button') btn-send
    td
      button.btn-action(type='button') btn-action
  tr
    td
      button.btn-call-to-action(type='button') btn-call-to-action
    td
      button.btn-call-to-action-two(type='button') btn-call-to-action-two
    td
      button.btn-buy(type='button') btn-buy
    td
      button.btn-submit(type='button') btn-submit
    td
      button.btn-cancel(type='button') btn-cancel
  tr
    td
    td
    td
      button.btn-simulation(type='button') btn-simulation
    td
      button.btn-save(type='button') btn-save
    td
      button.btn-return(type='button') btn-return
  tr
    td
    td
    td
    td
      button.btn-register(type='button') btn-register
    td
      button.btn-secundary-one(type='button') btn-secundary-one
  tr
    td
    td
    td
    td
    td
      button.btn-secundary-two(type='button') btn-secundary-two

h3 Btn Link
table
  tr
    td
      a.btn-call-to-action btn-call-to-action
    td
      a.btn-call-to-action-two btn-call-to-action-two
    td
      a.btn-buy btn-buy
    td
      a.btn-submit btn-submit
    td
      a.btn-cancel btn-cancel
  tr
    td
    td
    td
      a.btn-simulation btn-simulation
    td
      a.btn-save btn-save
    td
      a.btn-return btn-return
  tr
    td
    td
    td
    td
      a.btn-register btn-register
    td
      a.btn-secundary-one btn-secundary-one
  tr
    td
    td
    td
    td
    td
      a.btn-secundary-two btn-secundary-two

h3 Btn Input
table
  tr
    td
      input.btn-call-to-action(type='button', value='btn-call-to-action')
    td
      input.btn-call-to-action-two(type='button', value='btn-call-to-action-two')
    td
      input.btn-buy(type='button', value='btn-buy')
    td
      input.btn-submit(type='button', value='btn-submit')
    td
      input.btn-cancel(type='button', value='btn-cancel')
  tr
    td
    td
    td
      input.btn-simulation(type='button', value='btn-simulation')
    td
      input.btn-save(type='button', value='btn-save')
    td
      input.btn-return(type='button', value='btn-return')
  tr
    td
    td
    td
    td
      input.btn-register(type='button', value='btn-register')
    td
      input.btn-secundary-one(type='button', value='btn-secundary-one')
  tr
    td
    td
    td
    td
    td
      input.btn-secundary-two(type='button', value='btn-secundary-two')