h3.mad-content-title Buttons

h3.mad-content-sub-title Buttons Actions
table
  tr
    td
      button.btn-call-to-action(type='button') btn-call-to-action
  tr
    td
      button.btn-simulation(type='button') btn-simulation
  tr
    td
      button.btn-buy(type='button') btn-buy
  tr
    td
      button.btn-call-to-action-two(type='button') btn-call-to-action-two
  tr
    td
      button.btn-send(type='button') btn-send
  tr
    td
      button.btn-save(type='button') btn-save
  tr
    td
      button.btn-submit(type='button') btn-submit
  tr
    td
      button.btn-cancel(type='button') btn-cancel
  tr
    td
      button.btn-return(type='button') btn-return
    td
:markdown
  ```
    <button type="button" class="btn-call-to-action">btn-call-to-action</button>
  ```



h3.mad-content-sub-title Btn Secundário
table
  tr
    td
      button.btn-secundary-one(type='button') btn-secundary-one
  tr
    td
      button.btn-secundary-two(type='button') btn-secundary-two
:markdown
  ```
    <button type="button" class="btn-secundary-one">btn-secundary-one</button>
  ```




h3.mad-content-sub-title Btn Link
table
  tr
    td
      a.btn-call-to-action btn-call-to-action
  tr
    td
      a.btn-simulation btn-simulation
  tr
    td
      a.btn-buy btn-buy
  tr
    td
      a.btn-call-to-action-two btn-call-to-action-two
  tr
    td
      a.btn-send btn-send
  tr
    td
      a.btn-save btn-save
  tr
    td
      a.btn-submit btn-submit
  tr
    td
      a.btn-cancel btn-cancel
  tr
    td
      a.btn-return btn-return

:markdown
  ```
    <button type="button" class="btn-secundary-one">btn-secundary-one</button>
  ```



h3.mad-content-sub-title Btn Link Secundário
table
  tr
    td
      a.btn-secundary-one btn-secundary-one
  tr
    td
      a.btn-secundary-two btn-secundary-two

h3.mad-content-sub-title Btn Input
table
  tr
    td
      input.btn-call-to-action(type='button', value='btn-call-to-action')
  tr
    td
      input.btn-simulation(type='button', value='btn-simulation')
  tr
    td
      input.btn-buy(type='button', value='btn-buy')
  tr
    td
      input.btn-call-to-action-two(type='button', value='btn-call-to-action-two')
  tr
    td
      input.btn-send(type='button', value='btn-send')
  tr
    td
      input.btn-save(type='button', value='btn-save')
  tr
    td
      input.btn-submit(type='button', value='btn-submit')
  tr
    td
      input.btn-cancel(type='button', value='btn-cancel')
  tr
    td
      input.btn-return(type='button', value='btn-return')
    td

h3.mad-content-sub-title Button Input Secundário
table
  tr
    td
      input.btn-secundary-one(type='button', value='btn-secundary-one')
  tr
    td
      input.btn-secundary-two(type='button', value='btn-secundary-two')


:markdown
  ```
    <button type="button" class="btn-call-to-action">btn-call-to-action</button>
  ```
