// --------------------------------------------------------------------------
// Placeholder: Typography
// --------------------------------------------------------------------------


// Typography - Headings
// --------------------------------------------------------------------------

%headings {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  color: $headings-font-color;
}
// Type display classes
%headings-1 {
  font-size:   $headings-h1-font-size;
  line-height: $headings-h1-line-height;
}
%headings-2 {
  font-size:   $headings-h2-font-size;
  line-height: $headings-h1-line-height;
}
%headings-3 {
  font-size:   $headings-h3-font-size;
  line-height: $headings-h3-line-height;
}
%headings-4 {
  font-size:   $headings-h4-font-size;
  line-height: $headings-h4-line-height;
}
%headings-5 {
  font-size:   $headings-h5-font-size;
  line-height: $headings-h5-line-height;
}
%headings-6 {
  font-size:   $headings-h6-font-size;
  line-height: $headings-h6-line-height;
}


// Typography - Base Text
// --------------------------------------------------------------------------

%base-text {
  color: $base-text-color ;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}
%base-text-1 {
  @extend %base-text;
  font-size:   $base-text-1-font-size;
  line-height: $base-text-1-line-height;
}
%base-text-2 {
  @extend %base-text;
  font-size:   $base-text-2-font-size;
  line-height: $base-text-2-line-height;
}
%base-text-3 {
  @extend %base-text;
  font-size:   $base-text-3-font-size;
  line-height: $base-text-3-line-height;
}
%base-text-4 {
  @extend %base-text;
  font-size:   $base-text-4-font-size;
  line-height: $base-text-4-line-height;
}



