h3 Alerts
.alert-warning.alert-dismissible
	button.close(type="button" data-dismiss="alert" aria-label="Close")
		span &times;
	strong Warning! 
	| Better check yourself, you're not looking too good.


.alert-default
	| default...
.alert-success
	| success...
.alert-info
	| info...
.alert-warning
	| warning...
.alert-danger
	| danger...


h3 Alert Link
.alert-success
	a.alert-link success...

.alert-info
	a.alert-link info...

.alert-warning
	a.alert-link warning...

.alert-danger
	a.alert-link danger...
