// --------------------------------------------------------------------------
// Objects: Social Media
// --------------------------------------------------------------------------
@mixin font-smoothing() {
  // Font antialising on Mac OS X
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social-media {
  list-style: none;
  width: 275px;
  margin: 0 auto;
  padding: 15px 0;
  min-height: 1px;
  position: relative;
  @media (max-width: 600px) {
    width: 200px;
  }
  &__link {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 18%;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-right: 3px;
    margin-left: 3px;
    @media (min-width: 600px) {
      width: 50px;
      height: 50px;
      margin-right: 19px;
      margin-left: 19px;
    }
    &:before {
      font-family:'FontAwesome';
      @include font-smoothing();
    }
  }
  &:before,
  &:after{
    content: " ";
    position: absolute;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    height: 2px;
  }
  &:before {
    border-top: 2px solid #dfdfdf;
    top: 0;
  }
  &:after{
    border-bottom: 2px solid #dfdfdf;
    bottom: 0;
  }
}




%icon {
  display: inline-block;
  font-family:'FontAwesome';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



// --------------------------------------------------------------------------
// Variables: Social Media
// Variable for the object of social media
// --------------------------------------------------------------------------


@each $social-name, $social-icon in $social-icons {
  .social-media {
    .social-media__link--#{$social-name} {
      vertical-align: top;
      background-color: map-get($social-icon, background-color);
      color: map-get($social-icon, color);
      &:before {
        @extend %icon;
        content: map-get($social-icon, char);
        font-size: map-get($social-icon, size);
        line-height: map-get($social-icon, line-height);
        @media (max-width: 600px) {
          font-size: map-get($social-icon, size-mobile);
          line-height: map-get($social-icon, line-height-mobile);
        }
      }
    }
  }
}

.social-media__link--whatsapp {
  @include media($tablet) {
    display: none;
  }
}
