table.table
  thead
    tr
      th(colspan='2') COLORS
  tbody
    tr
      th(colspan='2', scope='row') COLOR PRIMARY
    tr.primary
      th(scope='row') .primary
      td background-color: core-color('primary');
    tr.aw90
      th(scope='row') .aw90
      td background-color: core-color('primary','aw90');
    tr.aw60
      th(scope='row') .aw60
      td background-color: core-color('primary','aw60');
    tr.aw40
      th(scope='row') .aw40
      td background-color: core-color('primary','aw40');
    tr.aw20
      th(scope='row') .aw20
      td background-color: core-color('primary','aw20');
    tr.aw10
      th(scope='row') .aw10
      td background-color: core-color('primary','aw10');
    tr.ab5
      th(scope='row') .ab10
      td background-color: core-color('primary','ab5');
    tr.ab10
      th(scope='row') .ab10
      td background-color: core-color('primary','ab10');
    tr.ab20
      th(scope='row') .ab20
      td background-color: core-color('primary','ab20');
    tr.ab40
      th(scope='row') .ab40
      td background-color: core-color('primary','ab40');
    tr.ab60
      th(scope='row') .ab60
      td background-color: core-color('primary','ab60');
    tr
      th(colspan='2', scope='row') blue
    tr.aux-one
      th(scope='row') .aux-one
      td background-color: core-color('aux-one');
    tr.aux-one-10
      th(scope='row') .aux-one-10
      td background-color: core-color('aux-one', 'aux-10');
    tr.aux-one-40
      th(scope='row') .aux-one-40
      td background-color: core-color('aux-one', 'aux-40');
    tr.aux-one-50
      th(scope='row') .aux-one-50
      td background-color: core-color('aux-one', 'aux-50');
    tr.aux-one-70
      th(scope='row') .aux-one-70
      td background-color: core-color('aux-one', 'aux-70');
    tr
      th(colspan='2', scope='row') red
    tr.aux-two
      th(scope='row') .aux-two #f44336;
      td background-color: core-color('aux-two');
    tr.aux-two-10
      th(scope='row') .aux-two-10 #ffcdd2
      td background-color: core-color('aux-two', 'aux-10');
    tr.aux-two-20
      th(scope='row') .aux-two-20 #e57373
      td background-color: core-color('aux-two', 'aux-20');
    tr.aux-two-30
      th(scope='row') .aux-two-30 #f44336
      td background-color: core-color('aux-two', 'aux-30');
    tr.aux-two-40
      th(scope='row') .aux-two-40 #d32f2f
      td background-color: core-color('aux-two', 'aux-40');
    tr.aux-two-50
      th(scope='row') .aux-two-50 #b71c1c
      td background-color: core-color('aux-two', 'aux-50');
    tr
      th(colspan='2', scope='row') orange
    tr.aux-three
      th(scope='row') .aux-three
      td background-color: core-color('aux-three');
    tr.aux-three-10
      th(scope='row') .aux-three-10
      td background-color: core-color('aux-three', 'aux-10');
    tr.aux-three-20
      th(scope='row') .aux-three-20
      td background-color: core-color('aux-three', 'aux-20');
    tr.aux-three-30
      th(scope='row') .aux-three-30
      td background-color: core-color('aux-three', 'aux-30');
    tr.aux-three-40
      th(scope='row') .aux-three-40
      td background-color: core-color('aux-three', 'aux-40');
    tr.aux-three-50
      th(scope='row') .aux-three-50
      td background-color: core-color('aux-three', 'aux-50');
    tr
      th(colspan='2', scope='row') green
    tr.aux-four
      th(scope='row') .aux-four
      td background-color: core-color('aux-four');
    tr.aux-four-10
      th(scope='row') .aux-four-10
      td background-color: core-color('aux-four', 'aux-10');
    tr.aux-four-20
      th(scope='row') .aux-four-20
      td background-color: core-color('aux-four', 'aux-20');
    tr.aux-four-30
      th(scope='row') .aux-four-30
      td background-color: core-color('aux-four', 'aux-30');
    tr.aux-four-40
      th(scope='row') .aux-four-40
      td background-color: core-color('aux-four', 'aux-40');
    tr.aux-four-50
      th(scope='row') .aux-four-50
      td background-color: core-color('aux-four', 'aux-50');
    tr
      th(colspan='2', scope='row') gray
    tr.aux-five
      th(scope='row') .aux-five
      td background-color: core-color('aux-five');
    tr.aux-five-10
      th(scope='row') .aux-five-10
      td background-color: core-color('aux-five', 'aux-10');
    tr.aux-five-20
      th(scope='row') .aux-five-20
      td background-color: core-color('aux-five', 'aux-20');
    tr.aux-five-30
      th(scope='row') .aux-five-30
      td background-color: core-color('aux-five', 'aux-30');
    tr.aux-five-40
      th(scope='row') .aux-five-40
      td background-color: core-color('aux-five', 'aux-40');
    tr.aux-five-50
      th(scope='row') .aux-five-50
      td background-color: core-color('aux-five', 'aux-50');

