// --------------------------------------------------------------------------
// Objects: Heading Line
// --------------------------------------------------------------------------
$mobile: new-breakpoint(max-width 500px);
.heading-primary__title {
  @extend %headings-2;
  margin-bottom: 15px;
  text-align: center;
  @include media($mobile) {
    font-size:   $headings-h3-font-size;
    line-height: $headings-h3-line-height;
  }

  span {
    display: inline-block;
    position: relative;
  }
  span:before,
  span:after {
    content: "";
    position: absolute;
    height: 2px;
    border-bottom: 2px solid #066db2;
    top: 50%;
    width: 100px;
  }
  span:before {
    right: 100%;
    margin-right: 15px;
  }
  span:after {
    left: 100%;
    margin-left: 15px;
  }
}
