// Variables
$line-color: #066db2;

// --------------------------------------------------------------------------
// Objects: Heading Line
// --------------------------------------------------------------------------

%heading-primary__title {
  @extend %headings-2;
  margin-bottom: 15px;
  text-align: center;

  @include media($mobile-landscape-max) {
    font-size: $headings-h3-font-size;
    line-height: $headings-h3-line-height;
  }

  span {
    display: inline-block;
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      border-bottom: 2px solid $line-color;
      top: 50%;
      width: 100px;
    }

    &:before {
      right: 100%;
      margin-right: 15px;
    }

    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}
